{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "transport_custom_requirements",
        [
        ('id', "var:Id::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('requirement_id', "var:RequirementId::varchar"),
        ('type', "var:Type::varchar"),
        ('quantity', "var:Quantity::number(38,10)"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
