{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_project_carrier_sensitives",
        [
        ('id', "var:Id::varchar"),
        ('project_id', "var:ProjectId::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('company_name', "var:CompanyName::number(38, 0)"),
        ('dispatcher_name', "var:DispatcherName::number(38, 0)"),
        ('driver_name', "var:DriverName::number(38, 0)"),
        ('driver_phone_number', "var:DriverPhoneNumber::number(38, 0)"),
        ('driver_identity_number', "var:DriverIdentityNumber::number(38,00)"),
        ('vehicle_brand', "var:VehicleBrand::number(38, 0)"),
        ('vehicle_model', "var:VehicleModel::number(38, 0)"),
        ('vehicle_license', "var:VehicleLicense::number(38, 0)"),
        ('custom_seal', "var:CustomSeal::number(38, 0)"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('driver_avatar', "var:DriverAvatar::number(38, 0)"),
        ('vehicle_image', "var:VehicleImage::number(38, 0)"),
        ('carrier_history_company_name', "var:CarrierHistoryCompanyName::number(38, 0)"),
        ('carrier_history_dispatcher_name', "var:CarrierHistoryDispatcherName::number(38, 0)"),
        ('carrier_history_driver_name', "var:CarrierHistoryDriverName::number(38, 0)"),
        ('carrier_history_vehicle_license', "var:CarrierHistoryVehicleLicense::number(38, 0)"),
        ('vehicle_buildup', "var:VehicleBuildUp::number(38, 0)"),
        ('vehicle_size', "var:VehicleSize::number(38, 0)"),
        ('vehicle_trailer_no', "var:VehicleTrailerNo::number(38, 0)"),
        ('carrier_container_no', "var:CarrierContainerNo::number(38, 0)"),
        ('carrier_history_carrier_container_no', "var:CarrierHistoryCarrierContainerNo::number(38, 0)"),
        ('carrier_history_trailer_no', "var:CarrierHistoryTrailerNo::number(38, 0)"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
