{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "vrn_country_settings",
        [
        ('id', "var:Id::varchar"),
        ('master_country_id', "var:MasterCountryId::varchar"),
        ('is_allow_vrn_login', "var:IsAllowVRNLogin::boolean"),
        ('is_default_vrn_format_enabled', "var:IsDefaultVRNFormatEnabled::boolean"),
        ('is_allow_duplicate_vrn_creation', "var:IsAllowDuplicateVRNCreation::boolean"),
        ('pin_format', "var:PinFormat::varchar"),
        ('vrn_brand', "var:VRNBrand::varchar"),
        ('vrn_model', "var:VRNModel::varchar"),
        ('roadtax_expiry_date', convert_to_mastercountry_tz("var:RoadTaxExpiryDate")),
        ('vehicle_size_id', "var:VehicleSizeId::varchar"),
        ('vehicle_buildup_id', "var:VehicleBuildUpId::varchar"),
        ('vehicle_max_weight', "var:VehicleMaxWeight::number(18,2)"),
        ('vehicle_max_volume', "var:VehicleMaxVolume::number(18,2)"),
        ('pin_length', "var:PinLength::number(38,0)"),
        ('is_dispatcher', "var:IsDispatcher::boolean"),
        ('is_driver', "var:IsDriver::boolean"),
        ('is_admin', "var:IsAdmin::boolean"),
        ('is_virtual_driver', "var:IsVirtualDriver::boolean"),
        ('virtual_driver_is_active', "var:VirtualDriverIsActive::boolean"),
        ('virtual_driver_first_name', "var:VirtualDriverFirstName::varchar"),
        ('virtual_driver_last_name', "var:VirtualDriverLastName::varchar"),
        ('virtual_driver_email', "var:VirtualDriverEmail::varchar"),
        ('virtual_driver_phone_number', "var:VirtualDriverPhoneNumber::varchar"),
        ('driver_identity_card_number', "var:DriverIdentityCardNumber::varchar"),
        ('virtual_driver_login_type', "var:VirtualDriverLoginType::varchar"),
        ('virtual_driver_login', "var:VirtualDriverLogin::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_vrn_driver_name_setting_enabled', "var:IsVRNDriverNameSettingEnabled::boolean"),
        ('is_vrn_driver_id_setting_enabled', "var:IsVRNDriverIDSettingEnabled::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
