{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "job_files",
        [
        ('id', "var:Id::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('job_file_due_date', convert_to_mastercountry_tz("var:JobFileDueDate")),
        ('transportation_rate_type', "var:TransportationRateType::varchar"),
        ('pic', "var:PIC::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipment_concluded', convert_to_mastercountry_tz("var:ShipmentConcluded")),
        ('transport_category', "var:TransportCategory::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('do_received_date', convert_to_mastercountry_tz("var:DOReceivedDate")),
        ('is_closed', "var:IsClosed::boolean"),
        ('is_do_received', "var:IsDOReceived::boolean"),
        ('project_id', "var:ProjectId::varchar"),
        ('shipment_number', "var:ShipmentNumber::varchar"),
        ('shipment_status', "var:ShipmentStatus::varchar"),
        ('status', "var:Status::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('transportation_rate_id', "var:TransportationRateId::varchar"),
        ('is_custom_bonded_truck', "var:IsCustomBondedTruck::boolean"),
        ('transportation_rate_calculation', "var:TransportationRateCalculation::varchar"),
        ('carrier_company_name', "var:CarrierCompanyName::varchar"),
        ('project_name', "var:ProjectName::varchar"),
        ('shipper_company_name', "var:ShipperCompanyName::varchar"),
        ('carrier_display_id', "var:CarrierDisplayId::varchar"),
        ('shipper_display_id', "var:ShipperDisplayId::varchar"),
        ('is_contract', "var:IsContract::boolean"),
        ('job_file_closed_date', convert_to_mastercountry_tz("var:JobFileClosedDate")),
        ('account_holder_id', "var:AccountHolderId::varchar"),
        ('account_holder_name', "var:AccountHolderName::varchar"),
        ('driver_id', "var:DriverId::varchar"),
        ('driver_name', "var:DriverName::varchar"),
        ('truck_id', "var:TruckId::varchar"),
        ('vehicle_reg_no', "var:VehicleRegNo::varchar"),
        ('customs_seals', "var:CustomsSeals::number(38, 0)"),
        ('shipper_company_categories', "var:ShipperCompanyCategories::varchar"),
        ('shipper_company_industries', "var:ShipperCompanyIndustries::varchar"),
        ('driver_phone_number', "var:DriverPhoneNumber::varchar"),
        ('approval_status', "var:ApprovalStatus::varchar"),
        ('is_processing', "var:IsProcessing::boolean"),
        ('contract_rate_id', "var:ContractRateId::varchar"),
        ('is_contract_offer', "var:IsContractOffer::boolean"),
        ('is_marketplace_offer', "var:IsMarketplaceOffer::boolean"),
        ('marketplace_rate_id', "var:MarketplaceRateId::varchar"),
        ('contract_rate_calculation', "var:ContractRateCalculation::varchar"),
        ('marketplace_calculation', "var:MarketplaceCalculation::varchar"),
        ('traction_type', "var:TractionType::varchar"),
        ('traction_type_name', "var:TractionTypeName::varchar"),
        ('contract_first_pushed_offer_at', convert_to_mastercountry_tz("var:ContractFirstPushedOfferAt")),
        ('marketplace_first_pushed_offer_at', convert_to_mastercountry_tz("var:MarketplaceFirstPushedOfferAt")),
        ('is_live_offer', "var:IsLiveOffer::boolean"),
        ('bol_number', "var:BOLNumber::varchar"),
        ('booking_display_id', "var:BookingDisplayId::varchar"),
        ('is_faf', "var:IsFAF::boolean"),
        ('present_fuel_id', "var:PresentFuelId::varchar"),
        ('present_fuel_value', "var:PresentFuelValue::number(18, 2)"),
        ('previous_fuel_id', "var:PreviousFuelId::varchar"),
        ('previous_fuel_value', "var:PreviousFuelValue::number(18, 2)"),
        ('destination_border_zone_id', "var:DestinationBorderZoneId::varchar"),
        ('destination_border_zone_name', "var:DestinationBorderZoneName::varchar"),
        ('is_carrier_tax_residence', "var:IsCarrierTaxResidence::boolean"),
        ('is_cross_water', "var:IsCrossWater::boolean"),
        ('is_shipper_tax_residence', "var:IsShipperTaxResidence::boolean"),
        ('origin_border_zone_id', "var:OriginBorderZoneId::varchar"),
        ('origin_border_zone_name', "var:OriginBorderZoneName::varchar"),
        ('cross_border_type', "var:CrossBorderType::varchar"),
        ('carrier_non_tax_residence_tax_code', "var:CarrierNonTaxResidenceTaxCode::varchar"),
        ('carrier_tax_residence_tax_code', "var:CarrierTaxResidenceTaxCode::varchar"),
        ('shipper_tax_code', "var:ShipperTaxCode::varchar"),
        ('is_cra_offer', "var:IsCRAOffer::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('sell_rate_currency_code', "var:SellRateCurrencyCode::varchar"),
        ('sell_rate_currency_code_id', "var:SellRateCurrencyCodeId::varchar"),
        ('buy_rate_currency_code', "var:BuyRateCurrencyCode::varchar"),
        ('buy_rate_currency_code_id', "var:BuyRateCurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
