{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "product_tax",
    "cms_stage",
    "ProductTax"
  ) -%}
    id varchar(16777216),
    name varchar(16777216),
    display_name varchar(16777216),
    description varchar(16777216),
    gl_code varchar(16777216),
    tax_rate number(18, 6),
    is_tax_exclusive boolean,
    is_active boolean,
    tenant_id varchar(16777216),
    is_deleted boolean,
    ewt_rate number(18, 2),
    ap_mapping_code varchar(16777216),
    ar_mapping_code varchar(16777216),
    is_tax_residence boolean,
    tax_code varchar(16777216),
    is_domestic boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
