{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "vehicle_login_histories",
        [
        ('id', "var:Id::varchar"),
        ('vehicle_login_id', "var:VehicleLoginId::varchar"),
        ('carrier_truck_id', "var:CarrierTruckId::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('login_device_id', "var:LoginDeviceId::varchar"),
        ('is_event_success', "var:IsEventSuccess::boolean"),
        ('device_name', "var:DeviceName::varchar"),
        ('device_model', "var:DeviceModel::varchar"),
        ('login_expires_at', convert_to_mastercountry_tz("var:LoginExpiresAt")),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('device_app_version', "var:DeviceAppVersion::varchar"),
        ('device_ip_address', "var:DeviceIPAddress::varchar"),
        ('device_os_version', "var:DeviceOSVersion::varchar"),
        ('device_platform', "var:DevicePlatform::varchar"),
        ('event_at', convert_to_mastercountry_tz("var:EventAt")),
        ('event_type', "var:EventType::varchar"),
        ('failure_message', "var:FailureMessage::varchar"),
        ('latitude', "var:Latitude::number(18,6)"),
        ('longitude', "var:Longitude::number(18,6)"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
