create or replace pipe {{ load_cms_audit_schema }}.offer_item_action_histories_pipe
    auto_ingest = true
    integration = 'AZ_STORAGE_QUEUE_INTEGRATION'
    error_integration = 'AZ_ERROR_INTEGRATION'  -- noqa
as copy into {{ load_cms_audit_schema }}.load_offer_item_action_histories
from @{{ load_cms_audit_schema }}.cms_audit_stage pattern = 'hist_OfferItemActionHistories_.*';
