{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "transport_locations",
        [
        ('id', "var:Id::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('location_name', "var:LocationName::varchar"),
        ('route_order', "var:RouteOrder::number(38,0)"),
        ('status', "var:Status::varchar"),
        ('location_type', "var:LocationType::varchar"),
        ('transport_location_type', "var:TransportLocationType::varchar"),
        ('address', "var:Address::varchar"),
        ('additional_address', "var:AdditionalAddress::varchar"),
        ('places_id', "var:PlacesId::varchar"),
        ('latitude', "var:Latitude::number(18,6)"),
        ('longitude', "var:Longitude::number(18,6)"),
        ('country', "var:Country::varchar"),
        ('state_province', "var:StateProvince::varchar"),
        ('city_district', "var:CityDistrict::varchar"),
        ('contact_name', "var:ContactName::varchar"),
        ('contact_phone_number', "var:ContactPhoneNumber::varchar"),
        ('contact_email', "var:ContactEmail::varchar"),
        ('contact_pre_alert', "var:ContactPreAlert::boolean"),
        ('driver_instructions', "var:DriverInstructions::varchar"),
        ('schedule_type', "var:ScheduleType::varchar"),
        ('schedule_earliest', convert_to_mastercountry_tz("var:ScheduleEarliest")),
        ('schedule_latest', convert_to_mastercountry_tz("var:ScheduleLatest")),
        ('enroute_time', convert_to_mastercountry_tz("var:EnRouteTime")),
        ('arrived_time', convert_to_mastercountry_tz("var:ArrivedTime")),
        ('completed_time', convert_to_mastercountry_tz("var:CompletedTime")),
        ('last_status_update_time', convert_to_mastercountry_tz("var:LastStatusUpdateTime")),
        ('issue_1', "var:Issue1::varchar"),
        ('issue_2', "var:Issue2::varchar"),
        ('issue_description', "var:IssueDescription::varchar"),
        ('issue_time', convert_to_mastercountry_tz("var:IssueTime")),
        ('is_cargo_discrepancy', "var:IsCargoDiscrepancy::boolean"),
        ('cargo_discrepancy_comment', "var:CargoDiscrepanyComment::varchar"),
        ('cargo_discrepancy_time', convert_to_mastercountry_tz("var:CargoDiscrepanyTime")),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('address_book_id', "var:AddressBookId::varchar"),
        ('postal_code', "var:PostalCode::varchar"),
        ('display_address', "var:DisplayAddress::varchar"),
        ('border_zone_id', "var:BorderZoneId::varchar"),
        ('border_zone_name', "var:BorderZoneName::varchar"),
        ('country_timezone', "var:CountryTimeZone::varchar"),
        ('cargo_discrepancy_reason_code', "var:CargoDiscrepancyReasonCode::varchar"),
        ('cargo_reason_additional_comment', "var:CargoReasonAdditionalComment::varchar"),
        ('issue_image_id_1', "var:IssueImageId1::varchar"),
        ('issue_image_id_2', "var:IssueImageId2::varchar"),
        ('is_issue_share_with_shipper', "var:IsIssueShareWithShipper::boolean"),
        ('is_cargo_discrepancy_share_with_shipper', "var:IsCargoDiscrShareWithShipper::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('zone_id', "var:ZoneId::varchar"),
        ('zone_name', "var:ZoneName::varchar"),
        ('zones', "var:Zones::varchar"),
        ('is_rebooked', "var:IsRebooked::boolean"),
        ('distance_from_last_location_in_meters', "var:DistanceFromLastLocationInMeters::number(38,0)"),
        ('duration_from_last_location_in_seconds', "var:DurationFromLastLocationInSeconds::number(38,0)"),
        ],
        ('id', "var:Id::varchar")
    )
}}
