{% from 'macros/zoho_crm.j2' import create_zoho_crm_merge_task -%}

{{ create_zoho_crm_merge_task(
        zoho_crm_schema,
        load_zoho_crm_schema,
        "contacts",
        [
        ('id', "var:Id::number"),
        ('owner', "var:Owner::number"),
        ('lead_source', "var:Lead_Source::varchar"),
        ('first_name', "var:First_Name::varchar"),
        ('last_name', "var:Last_Name::varchar"),
        ('full_name', "var:Full_Name::varchar"),
        ('account_name', "var:Account_Name::number"),
        ('email', "var:Email::varchar"),
        ('campaign_source', "var:Campaign_Source::varchar"),
        ('title', "var:Title::varchar"),
        ('department', "var:Department::varchar"),
        ('phone', "var:Phone::varchar"),
        ('mobile', "var:Mobile::varchar"),
        ('date_of_birth', "var:Date_of_Birth::date"),
        ('assistant', "var:Assistant::number"),
        ('asst_phone', "var:Asst_Phone::varchar"),
        ('email_opt_out', "var:Email_Opt_Out::boolean"),
        ('created_by', "var:Created_By::number"),
        ('modified_by', "var:Modified_By::number"),
        ('created_time', "var:Created_Time::timestamp_tz(9)"),
        ('modified_time', "var:Modified_Time::timestamp_tz(9)"),
        ('salutation', "var:Salutation::varchar"),
        ('secondary_email', "var:Secondary_Email::varchar"),
        ('last_activity_time', "var:Last_Activity_Time::timestamp_tz(9)"),
        ('description', "var:Description::varchar"),
        ('last_action', "var:LAST_ACTION::varchar"),
        ('last_sent_time', "var:LAST_SENT_TIME::timestamp_tz(9)"),
        ('last_action_time', "var:LAST_ACTION_TIME::timestamp_tz(9)"),
        ('reporting_to', "var:Reporting_To::varchar"),
        ('user_modified_time', "var:User_Modified_Time::varchar"),
        ('system_related_activity_time', "var:System_Related_Activity_Time::timestamp_tz(9)"),
        ('user_related_activity_time', "var:User_Related_Activity_Time::timestamp_tz(9)"),
        ('system_modified_time', "var:System_Modified_Time::timestamp_tz(9)"),
        ('linked_in', "var:Linked_In::varchar"),
        ('company', "var:Company::varchar"),
        ('personal_information', "var:Personal_Information::varchar"),
        ('latest_update', "var:Latest_Update::varchar"),
        ('funnel', "var:Funnel::varchar"),
        ('industry', "var:Industry::varchar"),
        ('convert_to_lead', "var:Convert_to_Lead::boolean"),
        ('nps_score', "var:NPS_Score::number"),
        ('account_manager', "var:Account_Manager::varchar"),
        ('nps_recommend', "var:NPS_Recommend::number"),
        ('nps_total', "var:NPS_TOTAL::float"),
        ('cross_border_eu', "var:Cross_Border_EU::boolean"),
        ('active', "var:Active::boolean"),
        ],
        ('id', "var:Id::number")
    )
}}
