create schema {{ call_3cx_schema }};
create schema {{ load_call_3cx_schema }};

create or replace file format {{ load_call_3cx_schema }}.{{ call_3cx_schema }}_csv
  type = csv
  compression = auto
  record_delimiter = '\n'
  field_delimiter = ','
  date_format = auto
  time_format = auto
  escape = none
  escape_unenclosed_field = '\\'
  field_optionally_enclosed_by = '\''
  empty_field_as_null = true
  timestamp_format = 'YYYY/MM/DD HH24:MI:SS'
  error_on_column_count_mismatch = false
  encoding = utf8
  skip_header = 1;

create or replace stage {{ load_call_3cx_schema }}.{{ call_3cx_schema }}_stage
  {%- if is_prod %}
  url = 'azure://cdr3cx.blob.core.windows.net/cdrblob'
  {% else %}
  url = 'azure://cdr3cx.blob.core.windows.net/cdrblob'
  {% endif -%}
  storage_integration = az_storage_integration
  file_format = {{ load_call_3cx_schema }}.{{ call_3cx_schema }}_csv;
