{% set required_columns=["update_date"] %}
{% set id_column = (columns | find_column(column_name=unique_id)) %}

{% raw %}{% from 'macros/cfx.j2' import create_cfx_merge_task -%}{% endraw %}

{% raw %}{{ create_cfx_merge_task(
        cfx_schema,
        load_cfx_schema,{% endraw %}
        "{{ table_name }}",
        [
        {% for c in (columns | mandatory_columns(columns=required_columns)) -%}
            ('{{ c["name"] | escape_keywords }}', {{ c['transformation'] | unwrap_macros }}),
        {% endfor -%}
        ],
        ('{{ id_column["name"] | escape_keywords }}', "{{ id_column['transformation'] }}")
    )
{% raw %}}}{% endraw %}
