{% raw %}{% from 'macros/shared_v1.j2' import create_table_and_stream_file_type_csv -%}{% endraw %}

{% raw %}{% call create_table_and_stream_file_type_csv(
    finance_schema,
    load_finance_schema,{% endraw %}
    "{{ table_name }}",
    "{{ stage }}",
    "{{ file_name }}"
{% raw %}  ) -%}{% endraw %}
    {% for c in columns -%}
    {{ c["name"] | escape_keywords }} {{ c["type"] }}{{ "," if not loop.last }}
    {% endfor -%}
{% raw %}{%- endcall %}{% endraw %}
