begin

alter task raw.load_cms.{{ table_name }}_merge_task suspend;

delete from raw.cms.{{ table_name }};

insert into raw.cms.{{ table_name }} (
    {% for c in columns -%}
    {{ c["name"] }},
    {% endfor -%}
    master_countries_country_time_zone,
    load_ts
)
select
    {% for c in columns -%}
    {{ c["name"] }},
    {% endfor -%}
    master_countries_country_time_zone,
    load_ts
from raw.cms_stage.{{ src_table_name }};

alter task raw.load_cms.{{ table_name }}_merge_task resume;

end;
