{% set id_column = (columns | find_column(column_name=unique_id)) %}

{% raw %}{% from 'macros/zoho_crm.j2' import create_zoho_crm_merge_task -%}{% endraw %}

{% raw %}{{ create_zoho_crm_merge_task(
        zoho_crm_schema,
        load_zoho_crm_schema,{% endraw %}
        "{{ table_name }}",
        [
        {% for c in (columns | mandatory_columns(columns=required_columns)) -%}
            ('{{ c["name"] | escape_keywords }}', {{ c['transformation'] | unwrap_macros }}),
        {% endfor -%}
        ],
        ('{{ id_column["name"] | escape_keywords }}', "{{ id_column['transformation'] }}")
    )
{% raw %}}}{% endraw %}
