{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_project_booking_settings",
        [
        ('id', "var:Id::varchar"),
        ('project_id', "var:ProjectId::varchar"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('fixed_rate_enabled', "var:FixedRateEnabled::boolean"),
        ('fixed_rate_value', "var:FixedRateValue::number(18, 2)"),
        ('fixed_selling_rate', "var:FixedSellingRate::number(18, 2)"),
        ('fixed_buying_rate', "var:FixedBuyingRate::number(18, 2)"),
        ('contract_rate_enabled', "var:ContractRateEnabled::boolean"),
        ('custom_contract_rate_id', "var:CustomContractRateId::varchar"),
        ('custom_contract_rate_name', "var:CustomContractRateName::varchar"),
        ('use_custom_contract_rate', "var:UseCustomContractRate::boolean"),
        ('use_custom_contract_settings', "var:UseCustomContractSettings::varchar"),
        ('spot_rate_enabled', "var:SpotRateEnabled::boolean"),
        ('book_without_rate_enabled', "var:BookWithoutRateEnabled::boolean"),
        ('book_without_rate_message', "var:BookWithoutRateMessage::varchar"),
        ('auto_push_offer', "var:AutoPushOffer::boolean"),
        ('shipper_client_booking', "var:ShipperClientBooking::boolean"),
        ('edi_status_update', "var:EDIStatusUpdate::boolean"),
        ('insurance_status', "var:InsuranceStatus::boolean"),
        ('book_as_completed', "var:BookAsCompleted::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('enable_booking', "var:EnableBooking::boolean"),
        ('live_pricing_enabled', "var:LivePricingEnabled::boolean"),
        ('live_pricing_setting_id', "var:LivePricingSettingId::varchar"),
        ('auto_sell_rate_contract_enabled', "var:AutoSellRateContractEnabled::boolean"),
        ('auto_sell_rate_marketplace_enabled', "var:AutoSellRateMarketplaceEnabled::boolean"),
        ('live_pricing_auto_push_offer', "var:LivePricingAutoPushOffer::boolean"),
        ('faf_settings_enabled', "var:FAFSettingsEnabled::boolean"),
        ('is_retry_default', "var:IsRetryDefault::boolean"),
        ('is_shipper_approval', "var:IsShipperApproval::boolean"),
        ('is_international', "var:IsInternational::boolean"),
        ('auto_sell_rate_contract_value', "var:AutoSellRateContractValue::number(38, 2)"),
        ('is_vrn_driver_name_mandatory', "var:IsVRNDriverNameMandatory::boolean"),
        ('epod_generation', "var:EPODGeneration::varchar"),
        ('is_vrn_driver_id_mandatory', "var:IsVRNDriverIDMandatory::boolean"),
        ('source_rate_enabled', "var:SourceRateEnabled::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
