{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "shipper_project_booking_settings",
    "cms_stage",
    "ShipperProjectBookingSettings"
  ) -%}
    id varchar(16777216),
    project_id varchar(16777216),
    transport_category varchar(16777216),
    fixed_rate_enabled boolean,
    fixed_rate_value number(18,2),
    fixed_selling_rate number(18,2),
    fixed_buying_rate number(18,2),
    contract_rate_enabled boolean,
    custom_contract_rate_id varchar(16777216),
    custom_contract_rate_name varchar(16777216),
    use_custom_contract_rate boolean,
    use_custom_contract_settings varchar(16777216),
    spot_rate_enabled boolean,
    book_without_rate_enabled boolean,
    book_without_rate_message varchar(16777216),
    auto_push_offer boolean,
    shipper_client_booking boolean,
    edi_status_update boolean,
    insurance_status boolean,
    book_as_completed boolean,
    is_deleted boolean,
    tenant_id varchar(16777216),
    enable_booking boolean,
    live_pricing_enabled boolean,
    live_pricing_setting_id varchar(16777216),
    auto_sell_rate_contract_enabled boolean,
    auto_sell_rate_marketplace_enabled boolean,
    live_pricing_auto_push_offer boolean,
    faf_settings_enabled boolean,
    is_retry_default boolean,
    is_shipper_approval boolean,
    is_international boolean,
    auto_sell_rate_contract_value number(38,0),
    is_vrn_driver_name_mandatory boolean,
    epod_generation varchar(16777216),
    is_vrn_driver_id_mandatory boolean,
    source_rate_enabled boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
