{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "product_additional_cost",
    "cms_stage",
    "ProductAdditionalCost"
  ) -%}
    id varchar(16777216),
    selling_rate number(18, 2),
    buying_rate number(18, 2),
    product_id varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
