{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "haulage_container_locations",
        [
        ('id', "var:Id::varchar"),
        ('haulage_order_id', "var:HaulageOrderId::varchar"),
        ('haulage_container_id', "var:HaulageContainerId::varchar"),
        ('haulage_location_type', "var:HaulageLocationType::varchar"),
        ('is_port_address', "var:IsPortAddress::varchar"),
        ('is_depot_address', "var:IsDepotAddres::varchar"),
        ('is_consignee_address', "var:IsConsigneeAddress::varchar"),
        ('port_depot_short_code', "var:PortDepotShortCode::varchar"),
        ('haulage_location_order', "var:HaulageLocationOrder::varchar"),
        ('location_type', "var:LocationType::varchar"),
        ('location_name', "var:LocationName::varchar"),
        ('display_address', "var:DisplayAddress::varchar"),
        ('address', "var:Address::varchar"),
        ('additional_address', "var:AdditionalAddress::varchar"),
        ('latitude', "var:Latitude::number(18,6)"),
        ('longitude', "var:Longitude::number(18,6)"),
        ('country', "var:Country::varchar"),
        ('postal_code', "var:PostalCode::varchar"),
        ('state_province', "var:StateProvince::varchar"),
        ('city_district', "var:CityDistrict::varchar"),
        ('places_id', "var:PlacesId::varchar"),
        ('contact_name', "var:ContactName::varchar"),
        ('contact_email', "var:ContactEmail::varchar"),
        ('contact_phone_number', "var:ContactPhoneNumber::varchar"),
        ('location_reference', "var:LocationReference::varchar"),
        ('schedule_type', "var:ScheduleType::varchar"),
        ('schedule_earliest', "var:ScheduleEarliest::varchar"),
        ('schedule_latest', "var:ScheduleLatest::varchar"),
        ('is_deleted', "var:IsDeleted::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
