{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "haulage_container_locations",
    "cms_stage",
    "HaulageContainerLocations"
  ) -%}
    id varchar(16777216),
    haulage_order_id varchar(16777216),
    haulage_container_id varchar(16777216),
    haulage_location_type varchar(16777216),
    is_port_address varchar(16777216),
    is_depot_address varchar(16777216),
    is_consignee_address varchar(16777216),
    port_depot_short_code varchar(16777216),
    haulage_location_order varchar(16777216),
    location_type varchar(16777216),
    location_name varchar(16777216),
    display_address varchar(16777216),
    address varchar(16777216),
    additional_address varchar(16777216),
    latitude number(18, 6),
    longitude number(18, 6),
    country varchar(16777216),
    postal_code varchar(16777216),
    state_province varchar(16777216),
    city_district varchar(16777216),
    places_id varchar(16777216),
    contact_name varchar(16777216),
    contact_email varchar(16777216),
    contact_phone_number varchar(16777216),
    location_reference varchar(16777216),
    schedule_type varchar(16777216),
    schedule_earliest varchar(16777216),
    schedule_latest varchar(16777216),
    is_deleted varchar(16777216),
    tenant_id varchar(16777216),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
