{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "pac_responses",
        [
        ('id', "var:Id::varchar"),
        ('pac_request_id', "var:PACRequestId::varchar"),
        ('ref_num', "var:RefNum::varchar"),
        ('code', "var:Code::varchar"),
        ('date', "var:DATE::varchar"),
        ('messages', "var:Messages::varchar"),
        ('is_valid_response', "var:IsValidResponse::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
