{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "shipper_project_cost_webhook_settings",
    "cms_stage",
    "ShipperProjectCostWebhookSettings"
  ) -%}
    id varchar(16777216),
    shipper_project_id varchar(16777216),
    created number(38, 0),
    not_yet_pushed number(38, 0),
    not_yet_accepted number(38, 0),
    accepted number(38, 0),
    assigned number(38, 0),
    in_progress number(38, 0),
    shipment_completed number(38, 0),
    shipment_cancelled number(38, 0),
    job_file_closed number(38, 0),
    tenant_id varchar(16777216),
    is_deleted boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
