{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_company",
        [
        ('id', "var:Id::varchar"),
        ('company_name', "var:CompanyName::varchar"),
        ('carrier_display_id', "var:CarrierDisplayID::varchar"),
        ('company_reg_no', "var:CompanyRegNo::varchar"),
        ('carrier_groups', "var:CarrierGroups::varchar"),
        ('is_active', "var:IsActive::boolean"),
        ('is_normal_transport', "var:IsNormalTransport::boolean"),
        ('is_container_haulage', "var:IsContainerHaulage::boolean"),
        ('country', "var:Country::varchar"),
        ('state_province', "var:StateProvince::varchar"),
        ('city_district_1', "var:CityDistrict1::varchar"),
        ('city_district_2', "var:CityDistrict2::varchar"),
        ('street_address', "var:StreetAddress::varchar"),
        ('postal_code', "var:PostalCode::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('is_allow_epod', "var:IsAllowEPOD::boolean"),
        ('is_map_view_enable', "var:IsMapViewEnable::boolean"),
        ('is_allow_accept_offer', "var:IsAllowAcceptOffer::boolean"),
        ('is_hold_payment', "var:IsHoldPayment::boolean"),
        ('is_allow_marketplace_offer', "var:IsAllowMarketplaceOffer::boolean"),
        ('compliance_expiry_date', convert_to_mastercountry_tz("var:ComplianceExpiryDate")),
        ('is_compliance_enable', "var:IsComplianceEnable::boolean"),
        ('is_compliance_expiry_check', "var:IsComplianceExpiryCheck::boolean"),
        ('is_hide_rate_view', "var:IsHideRateView::boolean"),
        ('eori_expiry_date', convert_to_mastercountry_tz("var:EORIExpiryDate")),
        ('eori_number', "var:EORINumber::varchar"),
        ('is_allow_job_status_update', "var:IsAllowJobStatusUpdate::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
