{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "carrier_company",
    "cms_stage",
    "CarrierCompany"
  ) -%}
    id varchar(16777216),
    company_name varchar(16777216),
    carrier_display_id varchar(16777216),
    company_reg_no varchar(16777216),
    carrier_groups varchar(16777216),
    is_active boolean,
    is_normal_transport boolean,
    is_container_haulage boolean,
    country varchar(16777216),
    state_province varchar(16777216),
    city_district_1 varchar(16777216),
    city_district_2 varchar(16777216),
    street_address varchar(16777216),
    postal_code varchar(16777216),
    tenant_id varchar(16777216),
    is_deleted boolean,
    is_allow_epod boolean,
    is_map_view_enable boolean,
    is_allow_accept_offer boolean,
    is_hold_payment boolean,
    is_allow_marketplace_offer boolean,
    compliance_expiry_date timestamp_tz(9),
    is_compliance_enable boolean,
    is_compliance_expiry_check boolean,
    is_hide_rate_view boolean,
    eori_expiry_date timestamp_tz(9),
    eori_number varchar(16777216),
    is_allow_job_status_update boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
