{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_offers",
        [
        ('id', "var:Id::varchar"),
        ('offer_id', "var:OfferId::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('amount', "var:Amount::number(18, 2)"),
        ('rate_id', "var:RateId::varchar"),
        ('is_custom_bonded_truck', "var:IsCustomBondedTruck::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('is_active', "var:IsActive::boolean"),
        ('is_contract', "var:IsContract::boolean"),
        ('incentive', "var:Incentive::number(18, 2)"),
        ('is_excluded', "var:IsExcluded::boolean"),
        ('carrier_live_offer_window_end', convert_to_mastercountry_tz("var:CarrierLiveOfferWindowEnd")),
        ('carrier_live_offer_window_start', convert_to_mastercountry_tz("var:CarrierLiveOfferWindowStart")),
        ('carrier_live_rate_offer_id', "var:CarrierLiveRateOfferId::varchar"),
        ('is_carrier_live_offer', "var:IsCarrierLiveOffer::boolean"),
        ('is_cra', "var:IsCRA::boolean"),
        ('offer_remarks', "var:OfferRemarks::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
