{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "cfdi_processes",
        [
        ('id', "var:Id::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('carrier_display_id', "var:CarrierDisplayId::varchar"),
        ('carrier_company_name', "var:CarrierCompanyName::varchar"),
        ('purchase_order_id', "var:PurchaseOrderId::varchar"),
        ('status', "var:Status::varchar"),
        ('cfdi_type', "var:CFDIType::varchar"),
        ('carrier_invoice_number', "var:CarrierInvoiceNumber::varchar"),
        ('standard_code', "var:StandardCode::varchar"),
        ('invoice_received_date', "var:InvoiceReceivedDate::varchar"),
        ('digital_stamp', "var:DigitalStamp::varchar"),
        ('pac_validation_status', "var:PACValidationStatus::varchar"),
        ('settlement_status', "var:SettlementStatus::varchar"),
        ('is_revision', "var:IsRevision::boolean"),
        ('revision_date', convert_to_mastercountry_tz("var:RevisionDate")),
        ('revision_type', "var:RevisionType::varchar"),
        ('revision_reason', "var:RevisionReason::varchar"),
        ('is_closed', "var:IsClosed::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('is_blacklist', "var:IsBlacklist::boolean"),
        ('ap_sent_amount', "var:ApSentAmount::number(32, 2)"),
        ('ap_sent_date', convert_to_mastercountry_tz("var:ApSentDate")),
        ('is_api_ntegration_sent', "var:IsApIntegrationSent::boolean"),
        ('invoice_date', "var:InvoiceDate::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
