{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "transport_routes",
        [
        ('id', "var:Id::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('shipment_route_number', "var:ShipmentRouteNumber::varchar"),
        ('status', "var:Status::varchar"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('is_exclusive', "var:IsExclusive::boolean"),
        ('distance', "var:Distance::number(18, 2)"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('dispatcher_id', "var:DispatcherId::varchar"),
        ('driver_id', "var:DriverId::varchar"),
        ('truck_id', "var:TruckId::varchar"),
        ('carrier_display_id', "var:CarrierDisplayId::varchar"),
        ('carrier_company_name', "var:CarrierCompanyName::varchar"),
        ('driver_name', "var:DriverName::varchar"),
        ('created_date', convert_to_mastercountry_tz("var:CreatedDate")),
        ('accepted_date', convert_to_mastercountry_tz("var:AcceptedDate")),
        ('running_date', convert_to_mastercountry_tz("var:RunningDate")),
        ('completed_date', convert_to_mastercountry_tz("var:CompletedDate")),
        ('cancelled_date', convert_to_mastercountry_tz("var:CancelledDate")),
        ('is_contract', "var:IsContract::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('driver_identity_card_number', "var:DriverIdentityCardNumber::varchar"),
        ('driver_phone_number', "var:DriverPhoneNumber::varchar"),
        ('vehicle_reg_no', "var:VehicleRegNo::varchar"),
        ('polyline', "var:Polyline::varchar"),
        ('driver_route_json', "var:DriverRouteJson::varchar"),
        ('customs_seals', "var:CustomsSeals::number(38, 0)"),
        ('co2_emission_factor', "var:CO2EmissionFactor::number(18, 2)"),
        ('co2_emission_value', "var:CO2EmissionValue::number(18, 6)"),
        ('carrier_allocated_at', convert_to_mastercountry_tz("var:CarrierAllocatedAt")),
        ('carrier_allocated_by', "var:CarrierAllocatedBy::varchar"),
        ('carrier_allocation_type', "var:CarrierAllocationType::number(38, 0)"),
        ('route_leg_order', "var:RouteLegOrder::number(38, 0)"),
        ('vehicle_trailer_no', "var:VehicleTrailerNo::varchar"),
        ('second_driver_id', "var:SecondDriverId::varchar"),
        ('second_driver_identity_card_number', "var:SecondDriverIdentityCardNumber::varchar"),
        ('second_driver_name', "var:SecondDriverName::varchar"),
        ('second_driver_phone_number', "var:SecondDriverPhoneNumber::varchar"),
        ('destination_border_zone_id', "var:DestinationBorderZoneId::varchar"),
        ('destination_border_zone_name', "var:DestinationBorderZoneName::varchar"),
        ('is_accompanied', "var:IsAccompanied::boolean"),
        ('origin_border_zone_id', "var:OriginBorderZoneId::varchar"),
        ('origin_border_zone_name', "var:OriginBorderZoneName::varchar"),
        ('carrier_container_no', "var:CarrierContainerNo::varchar"),
        ('primary_vrn_driver_name', "var:PrimaryVRNDriverName::varchar"),
        ('primary_vrn_driver_id_no', "var:PrimaryVRNDriverIDNo::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
