{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_costs",
        [
        ('id', "var:Id::varchar"),
        ('jobfile_id', "var:JobFileId::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('contract_id', "var:ContractId::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('product_id', "var:ProductId::varchar"),
        ('product_name', "var:ProductName::varchar"),
        ('product_display_name', "var:ProductDisplayName::varchar"),
        ('product_description', "var:ProductDescription::varchar"),
        ('product_category_id', "var:ProductCategoryId::varchar"),
        ('product_category', "var:ProductCategory::varchar"),
        ('gl_code', "var:GLCode::varchar"),
        ('cost_type', "var:CostType::varchar"),
        ('status', "var:Status::varchar"),
        ('po_status', "var:POStatus::varchar"),
        ('unit_cost', "var:UnitCost::number(16, 2)"),
        ('quantity', "var:Quantity::number(38, 0)"),
        ('amount', "var:Amount::number(16, 2)"),
        ('display_amount', "var:DisplayAmount::number(16, 2)"),
        ('is_booking', "var:IsBooking::boolean"),
        ('ori_unit_cost', "var:OriUnitCost::number(16, 2)"),
        ('ori_quantity', "var:OriQuantity::number(38, 0)"),
        ('ori_amount', "var:OriAmount::number(16, 2)"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('purchase_order_id', "var:PurchaseOrderId::varchar"),
        ('carrier_company_name', "var:CarrierCompanyName::varchar"),
        ('document_number', "var:DocumentNumber::varchar"),
        ('project_name', "var:ProjectName::varchar"),
        ('shipment_number', "var:ShipmentNumber::varchar"),
        ('carrier_display_id', "var:CarrierDisplayId::varchar"),
        ('etag', "var:ETag::varchar"),
        ('tax_deduction_id', "var:TaxDeductionId::varchar"),
        ('cost_approval_status', "var:CostApprovalStatus::varchar"),
        ('cost_approval_status_by_carrier', "var:CostApprovalStatusByCarrier::varchar"),
        ('bol_number', "var:BOLNumber::varchar"),
        ('booking_display_id', "var:BookingDisplayId::varchar"),
        ('po_schedule_allocation_id', "var:POScheduleAllocationId::varchar"),
        ('faf_amount', "var:FAFAmount::number(18, 2)"),
        ('formula_name', "var:FormulaName::varchar"),
        ('formula_value', "var:FormulaValue::varchar"),
        ('is_faf_applied', "var:IsFAFApplied::boolean"),
        ('ori_faf_amount', "var:OriFAFAmount::number(18, 2)"),
        ('is_shipment_x_border', "var:IsShipmentXBorder::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
