{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_categories",
        [
        ('id', "var:Id::varchar"),
        ('name', "var:Name::varchar"),
        ('is_active', "var:IsActive::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('description', "var:Description::varchar"),
        ('sort_order', "var:SortOrder::number(38,0)"),
        ('tenant_id', "var:TenantId::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
