{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "contract_sell_rate_agreements",
        [
        ('id', "var:Id::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_display_id', "var:ShipperDisplayId::varchar"),
        ('shipper_name', "var:ShipperName::varchar"),
        ('shipper_project_id', "var:ShipperProjectId::varchar"),
        ('shipper_project_name', "var:ShipperProjectName::varchar"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('reference', "var:Reference::varchar"),
        ('description', "var:Description::varchar"),
        ('valid_from', convert_to_mastercountry_tz("var:ValidFrom")),
        ('valid_to', convert_to_mastercountry_tz("var:ValidTo")),
        ('is_active', "var:IsActive::boolean"),
        ('vehicle_size_id', "var:VehicleSizeId::varchar"),
        ('vehicle_size_display_name', "var:VehicleSizeDisplayName::varchar"),
        ('vehicle_buildup_id', "var:VehicleBuildUpId::varchar"),
        ('vehicle_buildup_display_name', "var:VehicleBuildUpDisplayName::varchar"),
        ('origin_zone_name', "var:OriginZoneName::varchar"),
        ('origin_zone_id', "var:OriginZoneId::varchar"),
        ('destination_zone_name', "var:DestinationZoneName::varchar"),
        ('destination_zone_id', "var:DestinationZoneId::varchar"),
        ('contract_type', "var:ContractType::varchar"),
        ('day_type', "var:DayType::varchar"),
        ('time_range_type', "var:TimeRangeType::varchar"),
        ('transportation_sell_rate', "var:TransportationSellRate::varchar"),
        ('is_bonded', "var:IsBonded::boolean"),
        ('bonded_sell_rate', "var:BondedSellRate::varchar"),
        ('is_additional_drop_sell_rate', "var:IsAdditionalDropSellRate::boolean"),
        ('transportation_additional_drop_sell_rate', "var:TransportationAdditionalDropSellRate::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('traction_type_display_name', "var:TractionTypeDisplayName::varchar"),
        ('traction_type_id', "var:TractionTypeId::varchar"),
        ('traction_type_name', "var:TractionTypeName::varchar"),
        ('is_apply_fuel_surcharges', "var:IsApplyFuelSurcharges::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
