{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "contract_sell_rate_agreements",
    "cms_stage",
    "ContractSellRateAgreements"
  ) -%}
    id varchar(16777216),
    shipper_id varchar(16777216),
    shipper_display_id varchar(16777216),
    shipper_name varchar(16777216),
    shipper_project_id varchar(16777216),
    shipper_project_name varchar(16777216),
    transport_category varchar(16777216),
    reference varchar(16777216),
    description varchar(16777216),
    valid_from timestamp_tz(9),
    valid_to timestamp_tz(9),
    is_active boolean,
    vehicle_size_id varchar(16777216),
    vehicle_size_display_name varchar(16777216),
    vehicle_buildup_id varchar(16777216),
    vehicle_buildup_display_name varchar(16777216),
    origin_zone_name varchar(16777216),
    origin_zone_id varchar(16777216),
    destination_zone_name varchar(16777216),
    destination_zone_id varchar(16777216),
    contract_type varchar(16777216),
    day_type varchar(16777216),
    time_range_type varchar(16777216),
    transportation_sell_rate varchar(16777216),
    is_bonded boolean,
    bonded_sell_rate varchar(16777216),
    is_additional_drop_sell_rate boolean,
    transportation_additional_drop_sell_rate varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    traction_type_display_name varchar(16777216),
    traction_type_id varchar(16777216),
    traction_type_name varchar(16777216),
    is_apply_fuel_surcharges boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
