{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "fuel_index_rates",
        [
        ('id', "var:Id::varchar"),
        ('fuel_index_setting_id', "var:FuelIndexSettingId::varchar"),
        ('fuel_rate', "var:FuelRate::number(38,2)"),
        ('fuel_adjustment_factor', "var:FuelAdjustmentFactor::number(38,4)"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
