{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_finance_details",
        [
        ('id', "var:Id::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('is_per_shipment_po_create', "var:IsPerShipmentPOCreate::boolean"),
        ('tax_reg_number_1', "var:TaxRegNumber1::varchar"),
        ('tax_reg_number_2', "var:TaxRegNumber2::varchar"),
        ('is_tax_reg_number_1', "var:IsTaxRegNumber1::boolean"),
        ('is_tax_reg_number_2', "var:IsTaxRegNumber2::boolean"),
        ('company_name', "var:CompanyName::varchar"),
        ('country', "var:Country::varchar"),
        ('state_province', "var:StateProvince::varchar"),
        ('city_district_1', "var:CityDistrict1::varchar"),
        ('city_district_2', "var:CityDistrict2::varchar"),
        ('street_address', "var:StreetAddress::varchar"),
        ('postal_code', "var:PostalCode::varchar"),
        ('bank_beneficiary_name', "var:BankBeneficiaryName::varchar"),
        ('bank_account_number', "var:BankAccountNumber::varchar"),
        ('bank_name', "var:BankName::varchar"),
        ('bank_address', "var:BankAddress::varchar"),
        ('finance_admin_first_name', "var:FinanceAdminFirstName::varchar"),
        ('finance_admin_last_name', "var:FinanceAdminLastName::varchar"),
        ('finance_admin_phone_number', "var:FinanceAdminPhoneNumber::varchar"),
        ('finance_admin_email', "var:FinanceAdminEmail::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_tax_setting', "var:IsTaxSetting::boolean"),
        ('tax_name', "var:TaxName::varchar"),
        ('tax_rate', "var:TaxRate::number(18,2)"),
        ('is_self_bill_invoice', "var:IsSelfBillInvoice::boolean"),
        ('is_self_bill_notification', "var:IsSelfBillNotification::boolean"),
        ('is_auto_generate_self_bill', "var:IsAutoGenerateSelfBill::boolean"),
        ('po_creation_type', "var:POCreationType::varchar"),
        ('payment_term', "var:PaymentTerm::number(38,0)"),
        ('is_tax_residence', "var:IsTaxResidence::boolean"),
        ('is_border_compliant', "var:IsBorderCompliant::boolean"),
        ('is_regime', "var:IsRegime::boolean"),
        ('is_retention_tax', "var:IsRetentionTax::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('account_currency', "var:AccountCurrency::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
