{% from 'macros/cfx.j2' import create_cfx_merge_task -%}

{{ create_cfx_merge_task(
        cfx_schema,
        load_cfx_schema,
        "dg_shipment",
        [
        ('shipment_gid', "var:SHIPMENT_GID::varchar"),
        ('shipment_xid', "var:SHIPMENT_XID::varchar"),
        ('shipment_name', "var:SHIPMENT_NAME::varchar"),
        ('transport_mode_gid', "var:TRANSPORT_MODE_GID::varchar"),
        ('orderowner', "var:ORDEROWNER::varchar"),
        ('is_template', "nullif(var:IS_TEMPLATE::varchar,'')::boolean"),
        ('is_primary', "nullif(var:IS_PRIMARY::varchar,'')::boolean"),
        ('is_spot_costed', "nullif(var:IS_SPOT_COSTED::varchar,'')::boolean"),
        ('is_credit_note', "nullif(var:IS_CREDIT_NOTE::varchar,'')::boolean"),
        ('total_actual_cost', "nullif(var:TOTAL_ACTUAL_COST::varchar, '')::number(38, 6)"),
        ('total_actual_cost_base', "nullif(var:TOTAL_ACTUAL_COST_BASE::varchar, '')::number(38, 6)"),
        ('total_weighted_cost', "nullif(var:TOTAL_WEIGHTED_COST::varchar, '')::number(38, 6)"),
        ('total_weighted_cost_base', "nullif(var:TOTAL_WEIGHTED_COST_BASE::varchar, '')::number(38, 6)"),
        ('t_actual_cost_currency_gid', "var:T_ACTUAL_COST_CURRENCY_GID::varchar"),
        ('t_weighted_cost_currency_gid', "var:T_WEIGHTED_COST_CURRENCY_GID::varchar"),
        ('total_trans_cost', "nullif(var:TOTAL_TRANS_COST::varchar, '')::number(38, 6)"),
        ('total_trans_cost_currency_gid', "var:TOTAL_TRANS_COST_CURRENCY_GID::varchar"),
        ('total_trans_cost_base', "nullif(var:TOTAL_TRANS_COST_BASE::varchar, '')::number(38, 6)"),
        ('loaded_distance', "nullif(var:LOADED_DISTANCE::varchar, '')::number(38, 4)"),
        ('loaded_distance_uom_code', "var:LOADED_DISTANCE_UOM_CODE::varchar"),
        ('loaded_distance_base', "nullif(var:LOADED_DISTANCE_BASE::varchar, '')::number(38, 4)"),
        ('unloaded_distance', "nullif(var:UNLOADED_DISTANCE::varchar, '')::number(38, 4)"),
        ('unloaded_distance_uom_code', "var:UNLOADED_DISTANCE_UOM_CODE::varchar"),
        ('unloaded_distance_base', "nullif(var:UNLOADED_DISTANCE_BASE::varchar, '')::number(38, 4)"),
        ('source_location_gid', "var:SOURCE_LOCATION_GID::varchar"),
        ('dest_location_gid', "var:DEST_LOCATION_GID::varchar"),
        ('start_time', "nullif(var:START_TIME::varchar, '')::timestamp_tz(9)"),
        ('end_time', "nullif(var:END_TIME::varchar, '')::timestamp_tz(9)"),
        ('freight_terms', "var:FREIGHT_TERMS::varchar"),
        ('parent_leg_gid', "var:PARENT_LEG_GID::varchar"),
        ('voyage_gid', "var:VOYAGE_GID::varchar"),
        ('servprov_gid', "var:SERVPROV_GID::varchar"),
        ('rate_offering_gid', "var:RATE_OFFERING_GID::varchar"),
        ('rate_geo_gid', "var:RATE_GEO_GID::varchar"),
        ('original_shipment_gid', "var:ORIGINAL_SHIPMENT_GID::varchar"),
        ('shipment_group_gid', "var:SHIPMENT_GROUP_GID::varchar"),
        ('is_auto_merge_consolidate', "nullif(var:IS_AUTO_MERGE_CONSOLIDATE::varchar,'')::boolean"),
        ('perspective', "var:PERSPECTIVE::varchar"),
        ('total_weight', "nullif(var:TOTAL_WEIGHT::varchar, '')::number(38, 6)"),
        ('total_weight_uom_code', "var:TOTAL_WEIGHT_UOM_CODE::varchar"),
        ('total_weight_base', "nullif(var:TOTAL_WEIGHT_BASE::varchar, '')::number(38, 6)"),
        ('total_volume', "nullif(var:TOTAL_VOLUME::varchar, '')::number(38, 6)"),
        ('total_volume_uom_code', "var:TOTAL_VOLUME_UOM_CODE::varchar"),
        ('total_volume_base', "nullif(var:TOTAL_VOLUME_BASE::varchar, '')::number(38, 6)"),
        ('total_ship_unit_count', "nullif(var:TOTAL_SHIP_UNIT_COUNT::varchar, '')::number(38, 0)"),
        ('total_packaging_unit_count', "nullif(var:TOTAL_PACKAGING_UNIT_COUNT::varchar, '')::number(38, 0)"),
        ('total_item_package_count', "nullif(var:TOTAL_ITEM_PACKAGE_COUNT::varchar, '')::number(38, 0)"),
        ('shipment_type_gid', "var:SHIPMENT_TYPE_GID::varchar"),
        ('shipment_as_work', "var:SHIPMENT_AS_WORK::varchar"),
        ('check_time_constraint', "var:CHECK_TIME_CONSTRAINT::varchar"),
        ('check_cost_constraint', "var:CHECK_COST_CONSTRAINT::varchar"),
        ('check_capacity_constraint', "var:CHECK_CAPACITY_CONSTRAINT::varchar"),
        ('weigh_code', "var:WEIGH_CODE::varchar"),
        ('rule_7', "var:RULE_7::varchar"),
        ('shipment_released', "var:SHIPMENT_RELEASED::varchar"),
        ('inco_term_gid', "var:INCO_TERM_GID::varchar"),
        ('dim_weight', "nullif(var:DIM_WEIGHT::varchar, '')::number(38, 6)"),
        ('dim_weight_uom_code', "var:DIM_WEIGHT_UOM_CODE::varchar"),
        ('dim_weight_base', "nullif(var:DIM_WEIGHT_BASE::varchar, '')::number(38, 6)"),
        ('planned_cost', "nullif(var:PLANNED_COST::varchar, '')::number(38, 6)"),
        ('planned_cost_base', "nullif(var:PLANNED_COST_BASE::varchar, '')::number(38, 6)"),
        ('planned_cost_currency_gid', "var:PLANNED_COST_CURRENCY_GID::varchar"),
        ('term_location_text', "var:TERM_LOCATION_TEXT::varchar"),
        ('is_hazardous', "nullif(var:IS_HAZARDOUS::varchar,'')::boolean"),
        ('is_temperature_control', "nullif(var:IS_TEMPERATURE_CONTROL::varchar,'')::boolean"),
        ('is_cost_fixed', "nullif(var:IS_COST_FIXED::varchar,'')::boolean"),
        ('is_service_time_fixed', "nullif(var:IS_SERVICE_TIME_FIXED::varchar,'')::boolean"),
        ('is_rate_geo_fixed', "nullif(var:IS_RATE_GEO_FIXED::varchar,'')::boolean"),
        ('is_rate_offering_fixed', "nullif(var:IS_RATE_OFFERING_FIXED::varchar,'')::boolean"),
        ('is_servprov_fixed', "nullif(var:IS_SERVPROV_FIXED::varchar,'')::boolean"),
        ('is_preload', "nullif(var:IS_PRELOAD::varchar,'')::boolean"),
        ('is_fixed_tender_contact', "nullif(var:IS_FIXED_TENDER_CONTACT::varchar,'')::boolean"),
        ('is_to_be_held', "nullif(var:IS_TO_BE_HELD::varchar,'')::boolean"),
        ('is_preferred_carrier', "nullif(var:IS_PREFERRED_CARRIER::varchar,'')::boolean"),
        ('is_equipment_fixed', "nullif(var:IS_EQUIPMENT_FIXED::varchar,'')::boolean"),
        ('is_recalc_totals', "nullif(var:IS_RECALC_TOTALS::varchar,'')::boolean"),
        ('has_appointments', "var:HAS_APPOINTMENTS::varchar"),
        ('indicator', "var:INDICATOR::varchar"),
        ('contact_gid', "var:CONTACT_GID::varchar"),
        ('bulk_plan_gid', "var:BULK_PLAN_GID::varchar"),
        ('total_num_reference_units', "nullif(var:TOTAL_NUM_REFERENCE_UNITS::varchar, '')::number(38, 0)"),
        ('itinerary_gid', "var:ITINERARY_GID::varchar"),
        ('feasibility_code_gid', "var:FEASIBILITY_CODE_GID::varchar"),
        ('num_order_releases', "nullif(var:NUM_ORDER_RELEASES::varchar, '')::number(38, 0)"),
        ('num_stops', "nullif(var:NUM_STOPS::varchar, '')::number(38, 0)"),
        ('total_net_weight', "nullif(var:TOTAL_NET_WEIGHT::varchar, '')::number(38, 6)"),
        ('total_net_weight_uom_code', "var:TOTAL_NET_WEIGHT_UOM_CODE::varchar"),
        ('total_net_weight_base', "nullif(var:TOTAL_NET_WEIGHT_BASE::varchar, '')::number(38, 6)"),
        ('total_net_volume', "nullif(var:TOTAL_NET_VOLUME::varchar, '')::number(38, 6)"),
        ('total_net_volume_uom_code', "var:TOTAL_NET_VOLUME_UOM_CODE::varchar"),
        ('total_net_volume_base', "nullif(var:TOTAL_NET_VOLUME_BASE::varchar, '')::number(38, 6)"),
        ('earliest_start_time', "nullif(var:EARLIEST_START_TIME::varchar, '')::timestamp_tz(9)"),
        ('latest_start_time', "nullif(var:LATEST_START_TIME::varchar, '')::timestamp_tz(9)"),
        ('last_event_group_gid', "var:LAST_EVENT_GROUP_GID::varchar"),
        ('repetition_schedule_gid', "var:REPETITION_SCHEDULE_GID::varchar"),
        ('in_trailer_build', "var:IN_TRAILER_BUILD::varchar"),
        ('first_equipment_group_gid', "var:FIRST_EQUIPMENT_GROUP_GID::varchar"),
        ('user_defined1_icon_gid', "var:USER_DEFINED1_ICON_GID::varchar"),
        ('user_defined2_icon_gid', "var:USER_DEFINED2_ICON_GID::varchar"),
        ('user_defined3_icon_gid', "var:USER_DEFINED3_ICON_GID::varchar"),
        ('source_location_override_gid', "var:SOURCE_LOCATION_OVERRIDE_GID::varchar"),
        ('dest_location_override_gid', "var:DEST_LOCATION_OVERRIDE_GID::varchar"),
        ('schedule_type', "var:SCHEDULE_TYPE::varchar"),
        ('weight_utilization', "nullif(var:WEIGHT_UTILIZATION::varchar, '')::number(38, 6)"),
        ('volume_utilization', "nullif(var:VOLUME_UTILIZATION::varchar, '')::number(38, 6)"),
        ('equip_ref_unit_utilization', "nullif(var:EQUIP_REF_UNIT_UTILIZATION::varchar, '')::number(38, 0)"),
        ('port_of_load_location_gid', "var:PORT_OF_LOAD_LOCATION_GID::varchar"),
        ('port_of_dis_location_gid', "var:PORT_OF_DIS_LOCATION_GID::varchar"),
        ('place_receipt_location_gid', "var:PLACE_RECEIPT_LOCATION_GID::varchar"),
        ('place_deliver_location_gid', "var:PLACE_DELIVER_LOCATION_GID::varchar"),
        ('is_cpcty_override_applicable', "nullif(var:IS_CPCTY_OVERRIDE_APPLICABLE::varchar,'')::boolean"),
        ('planned_rate_offering_gid', "var:PLANNED_RATE_OFFERING_GID::varchar"),
        ('planned_transport_mode_gid', "var:PLANNED_TRANSPORT_MODE_GID::varchar"),
        ('planned_servprov_gid', "var:PLANNED_SERVPROV_GID::varchar"),
        ('planned_rate_geo_gid', "var:PLANNED_RATE_GEO_GID::varchar"),
        ('is_permanent', "nullif(var:IS_PERMANENT::varchar,'')::boolean"),
        ('is_memo_bl', "nullif(var:IS_MEMO_BL::varchar,'')::boolean"),
        ('duty_paid', "var:DUTY_PAID::varchar"),
        ('exchange_rate_date', "nullif(var:EXCHANGE_RATE_DATE::varchar, '')::timestamp_tz(9)"),
        ('currency_gid', "var:CURRENCY_GID::varchar"),
        ('exchange_rate_gid', "var:EXCHANGE_RATE_GID::varchar"),
        ('tot_matched_invoice_cost', "nullif(var:TOT_MATCHED_INVOICE_COST::varchar, '')::number(38, 6)"),
        ('tot_matched_inv_cost_curr_gid', "var:TOT_MATCHED_INV_COST_CURR_GID::varchar"),
        ('tot_matched_invoice_cost_base', "nullif(var:TOT_MATCHED_INVOICE_COST_BASE::varchar, '')::number(38, 6)"),
        ('original_invoice_cost', "nullif(var:ORIGINAL_INVOICE_COST::varchar, '')::number(38, 6)"),
        ('original_invoice_cost_curr_gid', "var:ORIGINAL_INVOICE_COST_CURR_GID::varchar"),
        ('original_invoice_cost_base', "nullif(var:ORIGINAL_INVOICE_COST_BASE::varchar, '')::number(38, 6)"),
        ('total_approved_cost', "nullif(var:TOTAL_APPROVED_COST::varchar, '')::number(38, 6)"),
        ('total_approved_cost_curr_gid', "var:TOTAL_APPROVED_COST_CURR_GID::varchar"),
        ('total_approved_cost_base', "nullif(var:TOTAL_APPROVED_COST_BASE::varchar, '')::number(38, 6)"),
        ('source_pier_location_gid', "var:SOURCE_PIER_LOCATION_GID::varchar"),
        ('dest_pier_location_gid', "var:DEST_PIER_LOCATION_GID::varchar"),
        ('primary_order_base_gid', "var:PRIMARY_ORDER_BASE_GID::varchar"),
        ('total_declared_value', "nullif(var:TOTAL_DECLARED_VALUE::varchar, '')::number(38, 6)"),
        ('total_declared_value_gid', "var:TOTAL_DECLARED_VALUE_GID::varchar"),
        ('total_declared_value_base', "nullif(var:TOTAL_DECLARED_VALUE_BASE::varchar, '')::number(38, 6)"),
        ('is_profit_split', "nullif(var:IS_PROFIT_SPLIT::varchar,'')::boolean"),
        ('is_advanced_charge', "nullif(var:IS_ADVANCED_CHARGE::varchar,'')::boolean"),
        ('is_fixed_distance', "nullif(var:IS_FIXED_DISTANCE::varchar,'')::boolean"),
        ('chargeable_weight', "nullif(var:CHARGEABLE_WEIGHT::varchar, '')::number(38, 6)"),
        ('chargeable_weight_uom_code', "var:CHARGEABLE_WEIGHT_UOM_CODE::varchar"),
        ('chargeable_weight_base', "nullif(var:CHARGEABLE_WEIGHT_BASE::varchar, '')::number(38, 6)"),
        ('total_actual_c_fn', "nullif(var:TOTAL_ACTUAL_C_FN::varchar, '')::number(38, 6)"),
        ('total_actual_c_fn_currency_gid', "var:TOTAL_ACTUAL_C_FN_CURRENCY_GID::varchar"),
        ('total_trans_c_fn', "nullif(var:TOTAL_TRANS_C_FN::varchar, '')::number(38, 6)"),
        ('total_trans_c_fn_currency_gid', "var:TOTAL_TRANS_C_FN_CURRENCY_GID::varchar"),
        ('total_wt_cost_fn', "nullif(var:TOTAL_WT_COST_FN::varchar, '')::number(38, 6)"),
        ('total_wt_cost_fn_currency_gid', "var:TOTAL_WT_COST_FN_CURRENCY_GID::varchar"),
        ('planned_cost_fn', "nullif(var:PLANNED_COST_FN::varchar, '')::number(38, 6)"),
        ('planned_cost_fn_currency_gid', "var:PLANNED_COST_FN_CURRENCY_GID::varchar"),
        ('tot_match_inv_fn', "nullif(var:TOT_MATCH_INV_FN::varchar, '')::number(38, 6)"),
        ('tot_match_inv_fn_currency_gid', "var:TOT_MATCH_INV_FN_CURRENCY_GID::varchar"),
        ('original_inv_c_fn', "nullif(var:ORIGINAL_INV_C_FN::varchar, '')::number(38, 6)"),
        ('original_inv_c_fn_currency_gid', "var:ORIGINAL_INV_C_FN_CURRENCY_GID::varchar"),
        ('total_app_cost_fn', "nullif(var:TOTAL_APP_COST_FN::varchar, '')::number(38, 6)"),
        ('total_app_cost_fn_currency_gid', "var:TOTAL_APP_COST_FN_CURRENCY_GID::varchar"),
        ('driver_gid', "var:DRIVER_GID::varchar"),
        ('secondary_driver_gid', "var:SECONDARY_DRIVER_GID::varchar"),
        ('power_unit_gid', "var:POWER_UNIT_GID::varchar"),
        ('marked_for_purge', "var:MARKED_FOR_PURGE::varchar"),
        ('prev_drop_inventory_processed', "var:PREV_DROP_INVENTORY_PROCESSED::varchar"),
        ('pick_inventory_processed', "var:PICK_INVENTORY_PROCESSED::varchar"),
        ('drop_inventory_processed', "var:DROP_INVENTORY_PROCESSED::varchar"),
        ('dim_volume', "nullif(var:DIM_VOLUME::varchar, '')::number(38, 6)"),
        ('dim_volume_uom_code', "var:DIM_VOLUME_UOM_CODE::varchar"),
        ('dim_volume_base', "nullif(var:DIM_VOLUME_BASE::varchar, '')::number(38, 6)"),
        ('chargeable_volume', "nullif(var:CHARGEABLE_VOLUME::varchar, '')::number(38, 6)"),
        ('chargeable_volume_uom_code', "var:CHARGEABLE_VOLUME_UOM_CODE::varchar"),
        ('chargeable_volume_base', "nullif(var:CHARGEABLE_VOLUME_BASE::varchar, '')::number(38, 6)"),
        ('planning_parameter_set_gid', "var:PLANNING_PARAMETER_SET_GID::varchar"),
        ('num_equipment_ordered', "nullif(var:NUM_EQUIPMENT_ORDERED::varchar, '')::number(38, 0)"),
        ('offering_domain', "var:OFFERING_DOMAIN::varchar"),
        ('recieving_domain', "var:RECIEVING_DOMAIN::varchar"),
        ('attribute3', "var:ATTRIBUTE3::varchar"),
        ('attribute4', "var:ATTRIBUTE4::varchar"),
        ('attribute5', "var:ATTRIBUTE5::varchar"),
        ('attribute6', "var:ATTRIBUTE6::varchar"),
        ('attribute7', "var:ATTRIBUTE7::varchar"),
        ('attribute8', "var:ATTRIBUTE8::varchar"),
        ('attribute9', "var:ATTRIBUTE9::varchar"),
        ('attribute10', "var:ATTRIBUTE10::varchar"),
        ('attribute11', "var:ATTRIBUTE11::varchar"),
        ('attribute12', "var:ATTRIBUTE12::varchar"),
        ('attribute13', "var:ATTRIBUTE13::varchar"),
        ('attribute14', "var:ATTRIBUTE14::varchar"),
        ('attribute15', "var:ATTRIBUTE15::varchar"),
        ('attribute16', "var:ATTRIBUTE16::varchar"),
        ('attribute17', "var:ATTRIBUTE17::varchar"),
        ('attribute18', "var:ATTRIBUTE18::varchar"),
        ('attribute19', "var:ATTRIBUTE19::varchar"),
        ('attribute20', "var:ATTRIBUTE20::varchar"),
        ('attribute_number1', "nullif(var:ATTRIBUTE_NUMBER1::varchar, '')::number(38, 2)"),
        ('attribute_number2', "nullif(var:ATTRIBUTE_NUMBER2::varchar, '')::number(38, 2)"),
        ('attribute_number3', "nullif(var:ATTRIBUTE_NUMBER3::varchar, '')::number(38, 2)"),
        ('attribute_number4', "nullif(var:ATTRIBUTE_NUMBER4::varchar, '')::number(38, 2)"),
        ('attribute_number5', "nullif(var:ATTRIBUTE_NUMBER5::varchar, '')::number(38, 2)"),
        ('attribute_number6', "nullif(var:ATTRIBUTE_NUMBER6::varchar, '')::number(38, 2)"),
        ('attribute_number7', "nullif(var:ATTRIBUTE_NUMBER7::varchar, '')::number(38, 2)"),
        ('attribute_number8', "nullif(var:ATTRIBUTE_NUMBER8::varchar, '')::number(38, 2)"),
        ('attribute_number9', "nullif(var:ATTRIBUTE_NUMBER9::varchar, '')::number(38, 2)"),
        ('attribute_number10', "nullif(var:ATTRIBUTE_NUMBER10::varchar, '')::number(38, 2)"),
        ('attribute_date1', "nullif(var:ATTRIBUTE_DATE1::varchar, '')::timestamp_tz(9)"),
        ('attribute_date2', "nullif(var:ATTRIBUTE_DATE2::varchar, '')::timestamp_tz(9)"),
        ('attribute_date3', "nullif(var:ATTRIBUTE_DATE3::varchar, '')::timestamp_tz(9)"),
        ('attribute_date4', "nullif(var:ATTRIBUTE_DATE4::varchar, '')::timestamp_tz(9)"),
        ('attribute_date5', "nullif(var:ATTRIBUTE_DATE5::varchar, '')::timestamp_tz(9)"),
        ('attribute_date6', "nullif(var:ATTRIBUTE_DATE6::varchar, '')::timestamp_tz(9)"),
        ('attribute_date7', "nullif(var:ATTRIBUTE_DATE7::varchar, '')::timestamp_tz(9)"),
        ('attribute_date8', "nullif(var:ATTRIBUTE_DATE8::varchar, '')::timestamp_tz(9)"),
        ('attribute_date9', "nullif(var:ATTRIBUTE_DATE9::varchar, '')::timestamp_tz(9)"),
        ('attribute_date10', "nullif(var:ATTRIBUTE_DATE10::varchar, '')::timestamp_tz(9)"),
        ('attribute_currency1', "nullif(var:ATTRIBUTE_CURRENCY1::varchar, '')::number(38, 6)"),
        ('attribute_currency1_gid', "var:ATTRIBUTE_CURRENCY1_GID::varchar"),
        ('attribute_currency1_base', "nullif(var:ATTRIBUTE_CURRENCY1_BASE::varchar, '')::number(38, 6)"),
        ('attribute_currency2', "nullif(var:ATTRIBUTE_CURRENCY2::varchar, '')::number(38, 6)"),
        ('attribute_currency2_gid', "var:ATTRIBUTE_CURRENCY2_GID::varchar"),
        ('attribute_currency2_base', "nullif(var:ATTRIBUTE_CURRENCY2_BASE::varchar, '')::number(38, 6)"),
        ('attribute_currency3', "nullif(var:ATTRIBUTE_CURRENCY3::varchar, '')::number(38, 6)"),
        ('attribute_currency3_gid', "var:ATTRIBUTE_CURRENCY3_GID::varchar"),
        ('attribute_currency3_base', "nullif(var:ATTRIBUTE_CURRENCY3_BASE::varchar, '')::number(38, 6)"),
        ('domain_name', "var:DOMAIN_NAME::varchar"),
        ('insert_user', "var:INSERT_USER::varchar"),
        ('insert_date', "nullif(var:INSERT_DATE::varchar, '')::timestamp_tz(9)"),
        ('update_user', "var:UPDATE_USER::varchar"),
        ('update_date', "coalesce(nullif(var:UPDATE_DATE::varchar, ''), nullif(var:INSERT_DATE::varchar, ''))::timestamp_tz(9)"),
        ],
        ('shipment_gid', "var:SHIPMENT_GID::varchar")
    )
}}
