{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cfx_schema,
    load_cfx_schema,
    "dg_shipment",
    "cfx_stage",
    "DG_SHIPMENT_TABLE"
  ) -%}
    shipment_gid varchar,
    shipment_xid varchar,
    shipment_name varchar,
    transport_mode_gid varchar,
    orderowner varchar,
    is_template boolean,
    is_primary boolean,
    is_spot_costed boolean,
    is_credit_note boolean,
    total_actual_cost number(38, 6),
    total_actual_cost_base number(38, 6),
    total_weighted_cost number(38, 6),
    total_weighted_cost_base number(38, 6),
    t_actual_cost_currency_gid varchar,
    t_weighted_cost_currency_gid varchar,
    total_trans_cost number(38, 6),
    total_trans_cost_currency_gid varchar,
    total_trans_cost_base number(38, 6),
    loaded_distance number(38, 4),
    loaded_distance_uom_code varchar,
    loaded_distance_base number(38, 4),
    unloaded_distance number(38, 4),
    unloaded_distance_uom_code varchar,
    unloaded_distance_base number(38, 4),
    source_location_gid varchar,
    dest_location_gid varchar,
    start_time timestamp_tz(9),
    end_time timestamp_tz(9),
    freight_terms varchar,
    parent_leg_gid varchar,
    voyage_gid varchar,
    servprov_gid varchar,
    rate_offering_gid varchar,
    rate_geo_gid varchar,
    original_shipment_gid varchar,
    shipment_group_gid varchar,
    is_auto_merge_consolidate boolean,
    perspective varchar,
    total_weight number(38, 6),
    total_weight_uom_code varchar,
    total_weight_base number(38, 6),
    total_volume number(38, 6),
    total_volume_uom_code varchar,
    total_volume_base number(38, 6),
    total_ship_unit_count number(38, 0),
    total_packaging_unit_count number(38, 0),
    total_item_package_count number(38, 0),
    shipment_type_gid varchar,
    shipment_as_work varchar,
    check_time_constraint varchar,
    check_cost_constraint varchar,
    check_capacity_constraint varchar,
    weigh_code varchar,
    rule_7 varchar,
    shipment_released varchar,
    inco_term_gid varchar,
    dim_weight number(38, 6),
    dim_weight_uom_code varchar,
    dim_weight_base number(38, 6),
    planned_cost number(38, 6),
    planned_cost_base number(38, 6),
    planned_cost_currency_gid varchar,
    term_location_text varchar,
    is_hazardous boolean,
    is_temperature_control boolean,
    is_cost_fixed boolean,
    is_service_time_fixed boolean,
    is_rate_geo_fixed boolean,
    is_rate_offering_fixed boolean,
    is_servprov_fixed boolean,
    is_preload boolean,
    is_fixed_tender_contact boolean,
    is_to_be_held boolean,
    is_preferred_carrier boolean,
    is_equipment_fixed boolean,
    is_recalc_totals boolean,
    has_appointments varchar,
    indicator varchar,
    contact_gid varchar,
    bulk_plan_gid varchar,
    total_num_reference_units number(38, 0),
    itinerary_gid varchar,
    feasibility_code_gid varchar,
    num_order_releases number(38, 0),
    num_stops number(38, 0),
    total_net_weight number(38, 6),
    total_net_weight_uom_code varchar,
    total_net_weight_base number(38, 6),
    total_net_volume number(38, 6),
    total_net_volume_uom_code varchar,
    total_net_volume_base number(38, 6),
    earliest_start_time timestamp_tz(9),
    latest_start_time timestamp_tz(9),
    last_event_group_gid varchar,
    repetition_schedule_gid varchar,
    in_trailer_build varchar,
    first_equipment_group_gid varchar,
    user_defined1_icon_gid varchar,
    user_defined2_icon_gid varchar,
    user_defined3_icon_gid varchar,
    source_location_override_gid varchar,
    dest_location_override_gid varchar,
    schedule_type varchar,
    weight_utilization number(38, 6),
    volume_utilization number(38, 6),
    equip_ref_unit_utilization number(38, 0),
    port_of_load_location_gid varchar,
    port_of_dis_location_gid varchar,
    place_receipt_location_gid varchar,
    place_deliver_location_gid varchar,
    is_cpcty_override_applicable boolean,
    planned_rate_offering_gid varchar,
    planned_transport_mode_gid varchar,
    planned_servprov_gid varchar,
    planned_rate_geo_gid varchar,
    is_permanent boolean,
    is_memo_bl boolean,
    duty_paid varchar,
    exchange_rate_date timestamp_tz(9),
    currency_gid varchar,
    exchange_rate_gid varchar,
    tot_matched_invoice_cost number(38, 6),
    tot_matched_inv_cost_curr_gid varchar,
    tot_matched_invoice_cost_base number(38, 6),
    original_invoice_cost number(38, 6),
    original_invoice_cost_curr_gid varchar,
    original_invoice_cost_base number(38, 6),
    total_approved_cost number(38, 6),
    total_approved_cost_curr_gid varchar,
    total_approved_cost_base number(38, 6),
    source_pier_location_gid varchar,
    dest_pier_location_gid varchar,
    primary_order_base_gid varchar,
    total_declared_value number(38, 6),
    total_declared_value_gid varchar,
    total_declared_value_base number(38, 6),
    is_profit_split boolean,
    is_advanced_charge boolean,
    is_fixed_distance boolean,
    chargeable_weight number(38, 6),
    chargeable_weight_uom_code varchar,
    chargeable_weight_base number(38, 6),
    total_actual_c_fn number(38, 6),
    total_actual_c_fn_currency_gid varchar,
    total_trans_c_fn number(38, 6),
    total_trans_c_fn_currency_gid varchar,
    total_wt_cost_fn number(38, 6),
    total_wt_cost_fn_currency_gid varchar,
    planned_cost_fn number(38, 6),
    planned_cost_fn_currency_gid varchar,
    tot_match_inv_fn number(38, 6),
    tot_match_inv_fn_currency_gid varchar,
    original_inv_c_fn number(38, 6),
    original_inv_c_fn_currency_gid varchar,
    total_app_cost_fn number(38, 6),
    total_app_cost_fn_currency_gid varchar,
    driver_gid varchar,
    secondary_driver_gid varchar,
    power_unit_gid varchar,
    marked_for_purge varchar,
    prev_drop_inventory_processed varchar,
    pick_inventory_processed varchar,
    drop_inventory_processed varchar,
    dim_volume number(38, 6),
    dim_volume_uom_code varchar,
    dim_volume_base number(38, 6),
    chargeable_volume number(38, 6),
    chargeable_volume_uom_code varchar,
    chargeable_volume_base number(38, 6),
    planning_parameter_set_gid varchar,
    num_equipment_ordered number(38, 0),
    offering_domain varchar,
    recieving_domain varchar,
    attribute3 varchar,
    attribute4 varchar,
    attribute5 varchar,
    attribute6 varchar,
    attribute7 varchar,
    attribute8 varchar,
    attribute9 varchar,
    attribute10 varchar,
    attribute11 varchar,
    attribute12 varchar,
    attribute13 varchar,
    attribute14 varchar,
    attribute15 varchar,
    attribute16 varchar,
    attribute17 varchar,
    attribute18 varchar,
    attribute19 varchar,
    attribute20 varchar,
    attribute_number1 number(38, 2),
    attribute_number2 number(38, 2),
    attribute_number3 number(38, 2),
    attribute_number4 number(38, 2),
    attribute_number5 number(38, 2),
    attribute_number6 number(38, 2),
    attribute_number7 number(38, 2),
    attribute_number8 number(38, 2),
    attribute_number9 number(38, 2),
    attribute_number10 number(38, 2),
    attribute_date1 timestamp_tz(9),
    attribute_date2 timestamp_tz(9),
    attribute_date3 timestamp_tz(9),
    attribute_date4 timestamp_tz(9),
    attribute_date5 timestamp_tz(9),
    attribute_date6 timestamp_tz(9),
    attribute_date7 timestamp_tz(9),
    attribute_date8 timestamp_tz(9),
    attribute_date9 timestamp_tz(9),
    attribute_date10 timestamp_tz(9),
    attribute_currency1 number(38, 6),
    attribute_currency1_gid varchar,
    attribute_currency1_base number(38, 6),
    attribute_currency2 number(38, 6),
    attribute_currency2_gid varchar,
    attribute_currency2_base number(38, 6),
    attribute_currency3 number(38, 6),
    attribute_currency3_gid varchar,
    attribute_currency3_base number(38, 6),
    domain_name varchar,
    insert_user varchar,
    insert_date timestamp_tz(9),
    update_user varchar,
    update_date timestamp_tz(9)
    {%- endcall %}
