{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "transport_orders",
        [
        ('id', "var:Id::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_display_id', "var:ShipperDisplayId::varchar"),
        ('shipper_name', "var:ShipperName::varchar"),
        ('shipment_number', "var:ShipmentNumber::varchar"),
        ('shipment_ref', "var:ShipmentRef::varchar"),
        ('tenant_code', "var:TenantCode::varchar"),
        ('country_code', "var:CountryCode::varchar"),
        ('status', "var:Status::varchar"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('vehicle_size_id', "var:VehicleSizeId::varchar"),
        ('vehicle_buildup_id', "var:VehicleBuildUpId::varchar"),
        ('is_accept_larger_truck', "var:IsAcceptLargerTruck::boolean"),
        ('rate_id', "var:RateId::varchar"),
        ('cost_id', "var:CostId::varchar"),
        ('project_id', "var:ProjectId::varchar"),
        ('project_name', "var:ProjectName::varchar"),
        ('shipper_user_id', "var:ShipperUserId::varchar"),
        ('shipper_client_user_id', "var:ShipperClientUserId::varchar"),
        ('booking_date', convert_to_mastercountry_tz("var:BookingDate")),
        ('accepted_date', convert_to_mastercountry_tz("var:AcceptedDate")),
        ('running_date', convert_to_mastercountry_tz("var:RunningDate")),
        ('completed_date', convert_to_mastercountry_tz("var:CompletedDate")),
        ('cancelled_date', convert_to_mastercountry_tz("var:CancelledDate")),
        ('is_contract', "var:IsContract::boolean"),
        ('booked_by_first_name', "var:BookedByFirstName::varchar"),
        ('booked_by_last_name', "var:BookedByLastName::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('account_holder_id', "var:AccountHolderId::varchar"),
        ('transportation_rate_id', "var:TransportationRateId::varchar"),
        ('transportation_rate_type', "var:TransportationRateType::varchar"),
        ('account_holder', "var:AccountHolder::varchar"),
        ('job_file_pic', "var:JobFilePIC::varchar"),
        ('shipper_company_id', "var:ShipperCompanyId::varchar"),
        ('shipper_company_name', "var:ShipperCompanyName::varchar"),
        ('shipper_company_categories', "var:ShipperCompanyCategories::varchar"),
        ('shipper_company_industries', "var:ShipperCompanyIndustries::varchar"),
        ('accepted_offer_type', "var:AcceptedOfferType::number(38, 10)"),
        ('contract_rate_id', "var:ContractRateId::varchar"),
        ('is_contract_offer', "var:IsContractOffer::boolean"),
        ('is_marketplace_offer', "var:IsMarketplaceOffer::boolean"),
        ('marketplace_rate_id', "var:MarketplaceRateId::varchar"),
        ('created_from', "var:CreatedFrom::varchar"),
        ('is_tracking', "var:IsTracking::boolean"),
        ('tracking_expires_at', convert_to_mastercountry_tz("var:TrackingExpiresAt")),
        ('tracking_init_at', convert_to_mastercountry_tz("var:TrackingInitAt")),
        ('tracking_request_id', "var:TrackingRequestId::varchar"),
        ('is_live_offer', "var:IsLiveOffer::boolean"),
        ('is_cra_offer', "var:IsCRAOffer::boolean"),
        ('is_faf', "var:IsFAF::boolean"),
        ('is_cross_water', "var:IsCrossWater::boolean"),
        ('cross_border_type', "var:CrossBorderType::varchar"),
        ('custom_rate_id', "var:CustomRateId::varchar"),
        ('is_forced', "var:IsForced::boolean"),
        ('is_failed_cancellation', "var:IsFailedCancellation::boolean"),
        ('is_rate_card', "var:IsRateCard::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
