{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "transport_orders",
    "cms_stage",
    "TransportOrders"
  ) -%}
    id varchar(16777216),
    shipper_id varchar(16777216),
    shipper_display_id varchar(16777216),
    shipper_name varchar(16777216),
    shipment_number varchar(16777216),
    shipment_ref varchar(16777216),
    tenant_code varchar(16777216),
    country_code varchar(16777216),
    status varchar(16777216),
    transport_category varchar(16777216),
    vehicle_size_id varchar(16777216),
    vehicle_buildup_id varchar(16777216),
    is_accept_larger_truck boolean,
    rate_id varchar(16777216),
    cost_id varchar(16777216),
    project_id varchar(16777216),
    project_name varchar(16777216),
    shipper_user_id varchar(16777216),
    shipper_client_user_id varchar(16777216),
    booking_date timestamp_tz(9),
    accepted_date timestamp_tz(9),
    running_date timestamp_tz(9),
    completed_date timestamp_tz(9),
    cancelled_date timestamp_tz(9),
    is_contract boolean,
    booked_by_first_name varchar(16777216),
    booked_by_last_name varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    account_holder_id varchar(16777216),
    transportation_rate_id varchar(16777216),
    transportation_rate_type varchar(16777216),
    account_holder varchar(16777216),
    job_file_pic varchar(16777216),
    shipper_company_id varchar(16777216),
    shipper_company_name varchar(16777216),
    shipper_company_categories varchar(16777216),
    shipper_company_industries varchar(16777216),
    accepted_offer_type number(38, 0),
    contract_rate_id varchar(16777216),
    is_contract_offer boolean,
    is_marketplace_offer boolean,
    marketplace_rate_id varchar(16777216),
    created_from varchar(16777216),
    is_tracking boolean,
    tracking_expires_at timestamp_tz(9),
    tracking_init_at timestamp_tz(9),
    tracking_request_id varchar(16777216),
    is_live_offer boolean,
    is_cra_offer boolean,
    is_faf boolean,
    is_cross_water boolean,
    cross_border_type varchar(16777216),
    custom_rate_id varchar(16777216),
    is_forced boolean,
    is_failed_cancellation boolean,
    is_rate_card boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
