{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_live_rate_submitted_offers",
        [
        ('id', "var:Id::varchar"),
        ('carrier_live_rate_offer_id', "var:CarrierLiveRateOfferId::varchar"),
        ('offer_id', "var:OfferId::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('offer_amount', "var:OfferAmount::number(18, 2)"),
        ('submitted_at', convert_to_mastercountry_tz("var:SubmittedAt")),
        ('submitted_by', "var:SubmittedBy::varchar"),
        ('submitted_id', "var:SubmittedId::varchar"),
        ('withdrawn_at', convert_to_mastercountry_tz("var:WithdrawnAt")),
        ('withdrawn_by', "var:WithdrawnBy::varchar"),
        ('withdrawn_id', "var:WithdrawnId::varchar"),
        ('accepted_at', convert_to_mastercountry_tz("var:AcceptedAt")),
        ('accepted_by', "var:AcceptedBy::varchar"),
        ('accepted_id', "var:AcceptedId::varchar"),
        ('submit_status', "var:SubmitStatus::varchar"),
        ('offer_status', "var:OfferStatus::varchar"),
        ('is_rejected', "var:IsRejected::boolean"),
        ('is_instant_accept', "var:IsInstantAccept::boolean"),
        ('is_closed_accept', "var:IsClosedAccept::boolean"),
        ('is_manual_accept', "var:IsManualAccept::boolean"),
        ('dispatcher_id', "var:DispatcherId::varchar"),
        ('dispatcher_name', "var:DispatcherName::varchar"),
        ('driver_id', "var:DriverId::varchar"),
        ('driver_name', "var:DriverName::varchar"),
        ('vehicle_id', "var:VehicleId::varchar"),
        ('vehicle_reg_no', "var:VehicleRegNo::varchar"),
        ('remarks', "var:Remarks::varchar"),
        ('session_id', "var:SessionId::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('offered_at', convert_to_mastercountry_tz("var:OfferedAt")),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
