{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "carrier_live_rate_submitted_offers",
    "cms_stage",
    "CarrierLiveRateSubmittedOffers"
  ) -%}
    id varchar(16777216),
    carrier_live_rate_offer_id varchar(16777216),
    offer_id varchar(16777216),
    carrier_id varchar(16777216),
    offer_amount number(18, 2),
    submitted_at timestamp_tz(9),
    submitted_by varchar(16777216),
    submitted_id varchar(16777216),
    withdrawn_at timestamp_tz(9),
    withdrawn_by varchar(16777216),
    withdrawn_id varchar(16777216),
    accepted_at timestamp_tz(9),
    accepted_by varchar(16777216),
    accepted_id varchar(16777216),
    submit_status varchar(16777216),
    offer_status varchar(16777216),
    is_rejected boolean,
    is_instant_accept boolean,
    is_closed_accept boolean,
    is_manual_accept boolean,
    dispatcher_id varchar(16777216),
    dispatcher_name varchar(16777216),
    driver_id varchar(16777216),
    driver_name varchar(16777216),
    vehicle_id varchar(16777216),
    vehicle_reg_no varchar(16777216),
    remarks varchar(16777216),
    session_id varchar(16777216),
    tenant_id varchar(16777216),
    is_deleted boolean,
    offered_at timestamp_tz(9),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
