{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_projects",
        [
        ('id', "var:Id::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_company_id', "var:ShipperCompanyId::varchar"),
        ('pic_id', "var:PICId::varchar"),
        ('project_name', "var:ProjectName::varchar"),
        ('project_description', "var:ProjectDescription::varchar"),
        ('is_active', "var:IsActive::boolean"),
        ('job_file_due', "var:JobFileDue::number(38,0)"),
        ('carrier_rating_setting', "var:CarrierRatingSetting::varchar"),
        ('is_per_shipment_invoice_create', "var:IsPerShipmentInvoiceCreate::boolean"),
        ('is_per_shipment_po_create', "var:IsPerShipmentPOCreate::boolean"),
        ('is_payment_method_online', "var:IsPaymentMethodOnline::boolean"),
        ('is_payment_method_credit_card', "var:IsPaymentMethodCreditCard::boolean"),
        ('is_payment_method_invoice', "var:IsPaymentMethodInvoice::boolean"),
        ('transport_category', "var:TransportCategory::varchar"),
        ('insurance_status', "var:InsuranceStatus::boolean"),
        ('auto_push_offer', "var:AutoPushOffer::boolean"),
        ('fixed_rate_enabled', "var:FixedRateEnabled::boolean"),
        ('fixed_rate_value', "var:FixedRateValue::number(18,2)"),
        ('contract_rate_enabled', "var:ContractRateEnabled::boolean"),
        ('contract_rate_id', "var:ContractRateId::varchar"),
        ('contract_rate_type', "var:ContractRateType::varchar"),
        ('spot_rate_enabled', "var:SpotRateEnabled::boolean"),
        ('book_without_rate_enabled', "var:BookWithoutRateEnabled::boolean"),
        ('book_without_rate_message', "var:BookWithoutRateMessage::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('edi_status_update', "var:EDIStatusUpdate::boolean"),
        ('shipper_client_booking', "var:ShipperClientBooking::boolean"),
        ('fixed_buying_rate', "var:FixedBuyingRate::number(18,2)"),
        ('fixed_selling_rate', "var:FixedSellingRate::number(18,2)"),
        ('credit_term', "var:CreditTerm::number(38,0)"),
        ('payment_term', "var:PaymentTerm::number(38,0)"),
        ('account_holder_id', "var:AccountHolderId::varchar"),
        ('admin_fee_description', "var:AdminFeeDescription::varchar"),
        ('admin_fee_percentage', "var:AdminFeePercentage::number(18,2)"),
        ('is_auto_admin_fee_enabled', "var:IsAutoAdminFeeEnabled::boolean"),
        ('custom_contract_rate_id', "var:CustomContractRateId::varchar"),
        ('custom_contract_rate_name', "var:CustomContractRateName::varchar"),
        ('use_custom_contract_rate', "var:UseCustomContractRate::boolean"),
        ('use_custom_contract_settings', "var:UseCustomContractSettings::varchar"),
        ('book_as_completed', "var:BookAsCompleted::boolean"),
        ('is_map_view_enable', "var:IsMapViewEnable::boolean"),
        ('is_carrier_sensitive', "var:IsCarrierSensitive::boolean"),
        ('shipper_customer_tags', "var:ShipperCustomerTags::varchar"),
        ('billing_method', "var:BillingMethod::varchar"),
        ('credit_limit', "var:CreditLimit::number(18,2)"),
        ('customer_payment_cycle', "var:CustomerPaymentCycle::varchar"),
        ('optional_comment', "var:OptionalComment::varchar"),
        ('is_ezy_billing_enable', "var:IsEzybillingEnable::boolean"),
        ('is_download_load_sheet_enable', "var:IsDownloadLoadSheetEnable::boolean"),
        ('is_download_pick_sheet_enable', "var:IsDownloadPickSheetEnable::boolean"),
        ('is_auto_admin_fee_cn_enabled', "var:IsAutoAdminFeeCNEnabled::boolean"),
        ('is_carrier_container_no_enable', "var:IsCarrierContainerNoEnable::boolean"),
        ('is_pta_mandatory', "var:IsPtaMandatory::boolean"),
        ('is_po_mandatory', "var:IsPoMandatory::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('shipper_credit_term_id', "var:ShipperCreditTermId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
