{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "shipper_projects",
    "cms_stage",
    "ShipperProjects"
  ) -%}
    id varchar(16777216),
    shipper_id varchar(16777216),
    shipper_company_id varchar(16777216),
    pic_id varchar(16777216),
    project_name varchar(16777216),
    project_description varchar(16777216),
    is_active boolean,
    job_file_due number(38, 0),
    carrier_rating_setting varchar(16777216),
    is_per_shipment_invoice_create boolean,
    is_per_shipment_po_create boolean,
    is_payment_method_online boolean,
    is_payment_method_credit_card boolean,
    is_payment_method_invoice boolean,
    transport_category varchar(16777216),
    insurance_status boolean,
    auto_push_offer boolean,
    fixed_rate_enabled boolean,
    fixed_rate_value number(18, 2),
    contract_rate_enabled boolean,
    contract_rate_id varchar(16777216),
    contract_rate_type varchar(16777216),
    spot_rate_enabled boolean,
    book_without_rate_enabled boolean,
    book_without_rate_message varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    edi_status_update boolean,
    shipper_client_booking boolean,
    fixed_buying_rate number(18, 2),
    fixed_selling_rate number(18, 2),
    credit_term number(38, 0),
    payment_term number(38, 0),
    account_holder_id varchar(16777216),
    admin_fee_description varchar(16777216),
    admin_fee_percentage number(18, 2),
    is_auto_admin_fee_enabled boolean,
    custom_contract_rate_id varchar(16777216),
    custom_contract_rate_name varchar(16777216),
    use_custom_contract_rate boolean,
    use_custom_contract_settings varchar(16777216),
    book_as_completed boolean,
    is_map_view_enable boolean,
    is_carrier_sensitive boolean,
    shipper_customer_tags varchar(16777216),
    billing_method varchar(16777216),
    credit_limit number(18, 2),
    customer_payment_cycle varchar(16777216),
    optional_comment varchar(16777216),
    is_ezy_billing_enable boolean,
    is_download_load_sheet_enable boolean,
    is_download_pick_sheet_enable boolean,
    is_auto_admin_fee_cn_enabled boolean,
    is_carrier_container_no_enable boolean,
    is_pta_mandatory boolean,
    is_po_mandatory boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
