{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "product",
        [
        ('id', "var:Id::varchar"),
        ('name', "var:Name::varchar"),
        ('display_name', "var:DisplayName::varchar"),
        ('description', "var:Description::varchar"),
        ('is_active', "var:IsActive::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('product_category_id', "var:ProductCategoryId::varchar"),
        ('gl_code', "var:GLCode::varchar"),
        ('is_document_return', "var:IsDocumentReturn::boolean"),
        ('is_insurance', "var:IsInsurance::boolean"),
        ('is_lift_gate', "var:IsLiftGate::boolean"),
        ('is_manpower', "var:IsManpower::boolean"),
        ('is_pallet_jack', "var:IsPalletJack::boolean"),
        ('is_sms_charges', "var:IsSMSCharges::boolean"),
        ('is_transportation', "var:IsTransportation::boolean"),
        ('gl_code_cn', "var:GLCodeCN::varchar"),
        ('gl_code_cost', "var:GLCodeCost::varchar"),
        ('gl_code_revenue', "var:GLCodeRevenue::varchar"),
        ('is_debit_note', "var:IsDebitNote::boolean"),
        ('is_admin_fee', "var:IsAdminFee::boolean"),
        ('is_cancellation_charges', "var:IsCancellationCharges::boolean"),
        ('is_incentive', "var:IsIncentive::boolean"),
        ('sort_order', "var:SortOrder::number(38,0)"),
        ('requirements_id', "var:RequirementsId::varchar"),
        ('is_cost_item_creation_enabled', "var:IsCostItemCreationEnabled::boolean"),
        ('is_qty_edit_enabled', "var:IsQtyEditEnabled::boolean"),
        ('carrier_cost_maximum_value', "var:CarrierCostMaximumValue::number(18,2)"),
        ('carrier_cost_threshold_value', "var:CarrierCostThresholdValue::number(18,2)"),
        ('is_carrier_cost_maximum_enabled', "var:IsCarrierCostMaximumEnabled::boolean"),
        ('is_carrier_cost_threshold_enabled', "var:IsCarrierCostThresholdEnabled::boolean"),
        ('is_shipper_cost_maximum_enabled', "var:IsShipperCostMaximumEnabled::boolean"),
        ('is_shipper_cost_threshold_enabled', "var:IsShipperCostThresholdEnabled::boolean"),
        ('shipper_cost_maximum_value', "var:ShipperCostMaximumValue::number(18,2)"),
        ('shipper_cost_threshold_value', "var:ShipperCostThresholdValue::number(18,2)"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
