{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "product",
    "cms_stage",
    "Product"
  ) -%}
    id varchar(16777216),
    name varchar(16777216),
    display_name varchar(16777216),
    description varchar(16777216),
    is_active boolean,
    tenant_id varchar(16777216),
    is_deleted boolean,
    product_category_id varchar(16777216),
    gl_code varchar(16777216),
    is_document_return boolean,
    is_insurance boolean,
    is_lift_gate boolean,
    is_manpower boolean,
    is_pallet_jack boolean,
    is_sms_charges boolean,
    is_transportation boolean,
    gl_code_cn varchar(16777216),
    gl_code_cost varchar(16777216),
    gl_code_revenue varchar(16777216),
    is_debit_note boolean,
    is_admin_fee boolean,
    is_cancellation_charges boolean,
    is_incentive boolean,
    sort_order number(38, 0),
    requirements_id varchar(16777216),
    is_cost_item_creation_enabled boolean,
    is_qty_edit_enabled boolean,
    carrier_cost_maximum_value number(18, 2),
    carrier_cost_threshold_value number(18, 2),
    is_carrier_cost_maximum_enabled boolean,
    is_carrier_cost_threshold_enabled boolean,
    is_shipper_cost_maximum_enabled boolean,
    is_shipper_cost_threshold_enabled boolean,
    shipper_cost_maximum_value number(18, 2),
    shipper_cost_threshold_value number(18, 2),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
