{% from 'macros/cfx.j2' import create_cfx_merge_task -%}

{{ create_cfx_merge_task(
        cfx_schema,
        load_cfx_schema,
        "dg_location",
        [
        ('location_gid', "nullif(var:LOCATION_GID::varchar, '')::varchar"),
        ('location_xid', "nullif(var:LOCATION_XID::varchar, '')::varchar"),
        ('location_name', "nullif(var:LOCATION_NAME::varchar, '')::varchar"),
        ('city', "nullif(var:CITY::varchar, '')::varchar"),
        ('province', "nullif(var:PROVINCE::varchar, '')::varchar"),
        ('province_code', "nullif(var:PROVINCE_CODE::varchar, '')::varchar"),
        ('postal_code', "nullif(var:POSTAL_CODE::varchar, '')::varchar"),
        ('country_code3_gid', "nullif(var:COUNTRY_CODE3_GID::varchar, '')::varchar"),
        ('zone1', "nullif(var:ZONE1::varchar, '')::varchar"),
        ('zone2', "nullif(var:ZONE2::varchar, '')::varchar"),
        ('zone3', "nullif(var:ZONE3::varchar, '')::varchar"),
        ('zone4', "nullif(var:ZONE4::varchar, '')::varchar"),
        ('time_zone_gid', "nullif(var:TIME_ZONE_GID::varchar, '')::varchar"),
        ('lat', "nullif(var:LAT::varchar, '')::number(38, 6)"),
        ('lon', "nullif(var:LON::varchar, '')::number(38, 6)"),
        ('sourcing_group_name', "nullif(var:SOURCING_GROUP_NAME::varchar, '')::varchar"),
        ('delivery_group_name', "nullif(var:DELIVERY_GROUP_NAME::varchar, '')::varchar"),
        ('region_gid', "nullif(var:REGION_GID::varchar, '')::varchar"),
        ('servprov_profile_gid', "nullif(var:SERVPROV_PROFILE_GID::varchar, '')::varchar"),
        ('location_group_gid', "nullif(var:LOCATION_GROUP_GID::varchar, '')::varchar"),
        ('is_temporary', "nullif(var:IS_TEMPORARY::varchar, '')::boolean"),
        ('is_make_appt_before_plan', "nullif(var:IS_MAKE_APPT_BEFORE_PLAN::varchar, '')::boolean"),
        ('is_shipper_known', "nullif(var:IS_SHIPPER_KNOWN::varchar, '')::boolean"),
        ('is_address_valid', "nullif(var:IS_ADDRESS_VALID::varchar, '')::varchar"),
        ('rate_classification_gid', "nullif(var:RATE_CLASSIFICATION_GID::varchar, '')::varchar"),
        ('equipment_group_profile_gid', "nullif(var:EQUIPMENT_GROUP_PROFILE_GID::varchar, '')::varchar"),
        ('slot_time_interval', "nullif(var:SLOT_TIME_INTERVAL::varchar, '')::number(38, 2)"),
        ('slot_time_interval_uom_code', "nullif(var:SLOT_TIME_INTERVAL_UOM_CODE::varchar, '')::varchar"),
        ('slot_time_interval_base', "nullif(var:SLOT_TIME_INTERVAL_BASE::varchar, '')::number(38, 2)"),
        ('is_ltl_splitable', "nullif(var:IS_LTL_SPLITABLE::varchar, '')::boolean"),
        ('num_of_rows_in_yard', "nullif(var:NUM_OF_ROWS_IN_YARD::varchar, '')::number(38, 2)"),
        ('num_of_slots_per_row_in_yard', "nullif(var:NUM_OF_SLOTS_PER_ROW_IN_YARD::varchar, '')::number(38, 2)"),
        ('use_appointment_priority', "nullif(var:USE_APPOINTMENT_PRIORITY::varchar, '')::varchar"),
        ('schedule_low_priority_appoint', "nullif(var:SCHEDULE_LOW_PRIORITY_APPOINT::varchar, '')::varchar"),
        ('enforce_time_window_appoint', "nullif(var:ENFORCE_TIME_WINDOW_APPOINT::varchar, '')::varchar"),
        ('schedule_infeasible_appoint', "nullif(var:SCHEDULE_INFEASIBLE_APPOINT::varchar, '')::varchar"),
        ('county_qualifier', "nullif(var:COUNTY_QUALIFIER::varchar, '')::varchar"),
        ('bb_max_cases_per_batch', "nullif(var:BB_MAX_CASES_PER_BATCH::varchar, '')::varchar"),
        ('bb_is_new_store', "nullif(var:BB_IS_NEW_STORE::varchar, '')::varchar"),
        ('bb_order_split_method', "nullif(var:BB_ORDER_SPLIT_METHOD::varchar, '')::varchar"),
        ('exclude_from_route_execution', "nullif(var:EXCLUDE_FROM_ROUTE_EXECUTION::varchar, '')::varchar"),
        ('appoint_display', "nullif(var:APPOINT_DISPLAY::varchar, '')::varchar"),
        ('appoint_display_base', "nullif(var:APPOINT_DISPLAY_BASE::varchar, '')::varchar"),
        ('appoint_display_uom_code', "nullif(var:APPOINT_DISPLAY_UOM_CODE::varchar, '')::varchar"),
        ('appoint_display_start_time', "nullif(var:APPOINT_DISPLAY_START_TIME::varchar, '')::varchar"),
        ('pickup_routing_sequence_gid', "nullif(var:PICKUP_ROUTING_SEQUENCE_GID::varchar, '')::varchar"),
        ('dropoff_routing_sequence_gid', "nullif(var:DROPOFF_ROUTING_SEQUENCE_GID::varchar, '')::varchar"),
        ('postal_splc_gid', "nullif(var:POSTAL_SPLC_GID::varchar, '')::varchar"),
        ('rail_splc_gid', "nullif(var:RAIL_SPLC_GID::varchar, '')::varchar"),
        ('rail_station_code_gid', "nullif(var:RAIL_STATION_CODE_GID::varchar, '')::varchar"),
        ('erpc_gid', "nullif(var:ERPC_GID::varchar, '')::varchar"),
        ('rail_junction_code_gid', "nullif(var:RAIL_JUNCTION_CODE_GID::varchar, '')::varchar"),
        ('serving_servprov_profile_gid', "nullif(var:SERVING_SERVPROV_PROFILE_GID::varchar, '')::varchar"),
        ('yard_row_labels', "nullif(var:YARD_ROW_LABELS::varchar, '')::varchar"),
        ('yard_slot_labels', "nullif(var:YARD_SLOT_LABELS::varchar, '')::varchar"),
        ('is_template', "nullif(var:IS_TEMPLATE::varchar, '')::boolean"),
        ('description', "nullif(var:DESCRIPTION::varchar, '')::varchar"),
        ('standing_appt_cutoff_window', "nullif(var:STANDING_APPT_CUTOFF_WINDOW::varchar, '')::varchar"),
        ('allow_driver_rest', "nullif(var:ALLOW_DRIVER_REST::varchar, '')::varchar"),
        ('appt_object_type', "nullif(var:APPT_OBJECT_TYPE::varchar, '')::varchar"),
        ('appt_search_days', "nullif(var:APPT_SEARCH_DAYS::varchar, '')::varchar"),
        ('appt_show_number_of_options', "nullif(var:APPT_SHOW_NUMBER_OF_OPTIONS::varchar, '')::varchar"),
        ('appointment_activity_type', "nullif(var:APPOINTMENT_ACTIVITY_TYPE::varchar, '')::varchar"),
        ('is_fixed_address', "nullif(var:IS_FIXED_ADDRESS::varchar, '')::boolean"),
        ('primary_address_line_seq', "nullif(var:PRIMARY_ADDRESS_LINE_SEQ::varchar, '')::number(38, 0)"),
        ('attribute1', "nullif(var:ATTRIBUTE1::varchar, '')::varchar"),
        ('attribute2', "nullif(var:ATTRIBUTE2::varchar, '')::varchar"),
        ('attribute3', "nullif(var:ATTRIBUTE3::varchar, '')::varchar"),
        ('attribute4', "nullif(var:ATTRIBUTE4::varchar, '')::varchar"),
        ('attribute5', "nullif(var:ATTRIBUTE5::varchar, '')::varchar"),
        ('attribute6', "nullif(var:ATTRIBUTE6::varchar, '')::varchar"),
        ('attribute7', "nullif(var:ATTRIBUTE7::varchar, '')::varchar"),
        ('attribute8', "nullif(var:ATTRIBUTE8::varchar, '')::varchar"),
        ('attribute9', "nullif(var:ATTRIBUTE9::varchar, '')::varchar"),
        ('attribute10', "nullif(var:ATTRIBUTE10::varchar, '')::varchar"),
        ('attribute11', "nullif(var:ATTRIBUTE11::varchar, '')::varchar"),
        ('attribute12', "nullif(var:ATTRIBUTE12::varchar, '')::varchar"),
        ('attribute13', "nullif(var:ATTRIBUTE13::varchar, '')::varchar"),
        ('attribute14', "nullif(var:ATTRIBUTE14::varchar, '')::varchar"),
        ('attribute15', "nullif(var:ATTRIBUTE15::varchar, '')::varchar"),
        ('attribute16', "nullif(var:ATTRIBUTE16::varchar, '')::varchar"),
        ('attribute17', "nullif(var:ATTRIBUTE17::varchar, '')::varchar"),
        ('attribute18', "nullif(var:ATTRIBUTE18::varchar, '')::varchar"),
        ('attribute19', "nullif(var:ATTRIBUTE19::varchar, '')::varchar"),
        ('attribute20', "nullif(var:ATTRIBUTE20::varchar, '')::varchar"),
        ('attribute_number1', "nullif(var:ATTRIBUTE_NUMBER1::varchar, '')::number(38, 2)"),
        ('attribute_number2', "nullif(var:ATTRIBUTE_NUMBER2::varchar, '')::number(38, 2)"),
        ('attribute_number3', "nullif(var:ATTRIBUTE_NUMBER3::varchar, '')::number(38, 2)"),
        ('attribute_number4', "nullif(var:ATTRIBUTE_NUMBER4::varchar, '')::number(38, 2)"),
        ('attribute_number5', "nullif(var:ATTRIBUTE_NUMBER5::varchar, '')::number(38, 2)"),
        ('attribute_number6', "nullif(var:ATTRIBUTE_NUMBER6::varchar, '')::number(38, 2)"),
        ('attribute_number7', "nullif(var:ATTRIBUTE_NUMBER7::varchar, '')::number(38, 2)"),
        ('attribute_number8', "nullif(var:ATTRIBUTE_NUMBER8::varchar, '')::number(38, 2)"),
        ('attribute_number9', "nullif(var:ATTRIBUTE_NUMBER9::varchar, '')::number(38, 2)"),
        ('attribute_number10', "nullif(var:ATTRIBUTE_NUMBER10::varchar, '')::number(38, 2)"),
        ('attribute_date1', "nullif(var:ATTRIBUTE_DATE1::varchar, '')::timestamp_tz(9)"),
        ('attribute_date2', "nullif(var:ATTRIBUTE_DATE2::varchar, '')::timestamp_tz(9)"),
        ('attribute_date3', "nullif(var:ATTRIBUTE_DATE3::varchar, '')::timestamp_tz(9)"),
        ('attribute_date4', "nullif(var:ATTRIBUTE_DATE4::varchar, '')::timestamp_tz(9)"),
        ('attribute_date5', "nullif(var:ATTRIBUTE_DATE5::varchar, '')::timestamp_tz(9)"),
        ('attribute_date6', "nullif(var:ATTRIBUTE_DATE6::varchar, '')::timestamp_tz(9)"),
        ('attribute_date7', "nullif(var:ATTRIBUTE_DATE7::varchar, '')::timestamp_tz(9)"),
        ('attribute_date8', "nullif(var:ATTRIBUTE_DATE8::varchar, '')::timestamp_tz(9)"),
        ('attribute_date9', "nullif(var:ATTRIBUTE_DATE9::varchar, '')::timestamp_tz(9)"),
        ('attribute_date10', "nullif(var:ATTRIBUTE_DATE10::varchar, '')::timestamp_tz(9)"),
        ('is_active', "nullif(var:IS_ACTIVE::varchar,'')::boolean"),
        ('address_update_date', "nullif(var:ADDRESS_UPDATE_DATE::varchar, '')::timestamp_tz(9)"),
        ('domain_name', "nullif(var:DOMAIN_NAME::varchar, '')::varchar"),
        ('insert_user', "nullif(var:INSERT_USER::varchar, '')::varchar"),
        ('insert_date', "nullif(var:INSERT_DATE::varchar, '')::timestamp_tz(9)"),
        ('update_user', "nullif(var:UPDATE_USER::varchar, '')::varchar"),
        ('update_date', "coalesce(nullif(var:UPDATE_DATE::varchar, ''), nullif(var:INSERT_DATE::varchar, ''))::timestamp_tz(9)"),
        ('location_profile_gid', "nullif(var:LOCATION_PROFILE_GID::varchar, '')::varchar"),
        ],
        ('location_gid', "nullif(var:LOCATION_GID::varchar, '')::varchar")
    )
}}
