{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "contract_lanes",
    "cms_stage",
    "ContractLanes"
  ) -%}
    id varchar(16777216),
    contract_id varchar(16777216),
    project_id varchar(16777216),
    origin_transport_location_type varchar(16777216),
    origin_source varchar(16777216),
    origin_address_book_id varchar(16777216),
    origin_zone_id varchar(16777216),
    origin_name varchar(16777216),
    origin_location_type varchar(16777216),
    origin_city_district_name varchar(16777216),
    origin_state_province_name varchar(16777216),
    destination_transport_location_type varchar(16777216),
    destination_source varchar(16777216),
    destination_address_book_id varchar(16777216),
    destination_zone_id varchar(16777216),
    destination_name varchar(16777216),
    destination_location_type varchar(16777216),
    destination_city_district_name varchar(16777216),
    destination_state_province_name varchar(16777216),
    lane_type varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    destination_border_zone_display_name varchar(16777216),
    destination_border_zone_id varchar(16777216),
    origin_border_zone_display_name varchar(16777216),
    origin_border_zone_id varchar(16777216),
    is_apply_fuel_surcharges boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
