{#
Required change(s):
- id column type to be changed from number(38, 0) to varchar

As this table doesn't hold any data yet, we recreate it
instead of altering it to preserve the original order of columns.
#}

create or replace table {{ cms_audit_schema }}.offer_histories (
    id varchar,
    transport_order_id varchar,
    transport_route_id varchar,
    shipment_number varchar,
    offer_type varchar,
    contract_rate_id varchar,
    contract_rate_type varchar,
    market_place_rate_id varchar,
    market_place_rate_type varchar,
    offer_remark varchar,
    reference_ids varchar,
    trigger_from varchar,
    tenant_id varchar,
    tenant_country_id varchar,
    inserted_at timestamp_tz(9),
    inserted_by varchar,
    created_by varchar,
    created_at timestamp_tz(9),
    custom_rate_id varchar,
    custom_rate_type varchar,
    master_countries_country_time_zone varchar,
    load_ts timestamp_tz(9)
);
