{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(cms_schema, load_cms_schema, "rate_history", "cms_stage", "Ratehistory") -%}
    rateid varchar(16777216),
    transport_order_id varchar(16777216),
    rate_type varchar(16777216),
    country_code varchar(16777216),
    rate_output varchar(16777216),
    contract_id varchar(16777216),
    sell_rate number(38, 2),
    buy_rate number(38, 2),
    sell_rate_cbt number(38, 2),
    buy_rate_cbt number(38, 2),
    carrier_id varchar(16777216),
    carriers varchar(16777216),
    margin varchar(16777216),
    live varchar(16777216),
    products varchar(16777216),
    carrier_contract_id varchar(16777216),
    carrier_carrier_id varchar(16777216),
    carrier_carrier_display_id varchar(16777216),
    carrier_dispatcher_id varchar(16777216),
    carrier_sell_rate number(38, 2),
    carrier_buy_rate number(38, 2),
    carrier_sell_rate_cbt number(38, 2),
    carrier_buy_rate_cbt number(38, 2),
    carrier_metadata varchar(16777216),
    carrier_is_cra_buy_rate boolean,
    carrier_reference varchar(16777216),
    carrier_products varchar(16777216),
    margin_margin_name varchar(16777216),
    margin_margin_triggers varchar(16777216),
    margin_margin_products varchar(16777216),
    live_offer_time_window_start timestamp_tz(9),
    live_offer_time_window_end timestamp_tz(9),
    live_time_zone varchar(16777216),
    live_instant_accept_enabled boolean,
    live_instant_accept_benchmark_perc number(38, 2),
    live_closed_accept_enabled boolean,
    live_closed_accept_benchmark_perc number(38, 2),
    live_benchmark_costs varchar(16777216),
    faf_response varchar(16777216),
    updated_at timestamp_tz(9),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
