create or replace table {{ call_3cx_schema }}.cdr_log (
    historyid varchar,
    callid varchar,
    duration varchar,
    time_start timestamp_tz(9),
    time_answered timestamp_tz(9),
    time_end timestamp_tz(9),
    reason_terminated varchar,
    from_num varchar,
    to_num varchar,cdd
    from_dn varchar,
    to_dn varchar,
    dial_num varchar,
    reason_changed varchar,
    final_num varchar,
    final_dn varchar,
    bill_code varchar,
    bill_rate varchar,
    bill_cost number(38, 2),
    bill_name varchar,
    chain varchar,
    from_displayname varchar,
    to_displayname varchar,
    final_displayname varchar,
    load_insert_ts timestamp_tz(9),
    load_update_ts timestamp_tz(9)
);

create or replace table {{ load_call_3cx_schema }}.load_cdr_log (
    historyid varchar,
    callid varchar,
    duration varchar,
    time_start timestamp_tz(9),
    time_answered timestamp_tz(9),
    time_end timestamp_tz(9),
    reason_terminated varchar,
    from_num varchar,
    to_num varchar,
    from_dn varchar,
    to_dn varchar,
    dial_num varchar,
    reason_changed varchar,
    final_num varchar,
    final_dn varchar,
    bill_code varchar,
    bill_rate varchar,
    bill_cost number(38, 2),
    bill_name varchar,
    chain varchar,
    from_displayname varchar,
    to_displayname varchar,
    final_displayname varchar
);
