{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "cfdi_payments_receiveds",
        [
        ('id', "var:Id::varchar"),
        ('cfdi_invoice_id', "var:CFDIInvoiceId::varchar"),
        ('cfdi_process_id', "var:CFDIProcessId::varchar"),
        ('purchase_order_id', "var:PurchaseOrderId::varchar"),
        ('bank_transaction_id', "var:BankTransactionId::varchar"),
        ('notes', "var:Notes::varchar"),
        ('paid_date', convert_to_mastercountry_tz("var:PaidDate")),
        ('amount_paid', "var:AmountPaid::number(38, 2)"),
        ('status', "var:Status::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('etag', "var:ETag::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
