{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_cost_pre_approvals",
        [
        ('id', "var:Id::varchar"),
        ('job_file_id', "var:JobFileId::varchar"),
        ('carrier_cost_id', "var:CarrierCostId::varchar"),
        ('status', "var:Status::varchar"),
        ('carrier_status', "var:CarrierStatus::varchar"),
        ('product_id', "var:ProductId::varchar"),
        ('product_name', "var:ProductName::varchar"),
        ('product_display_name', "var:ProductDisplayName::varchar"),
        ('product_description', "var:ProductDescription::varchar"),
        ('product_category_id', "var:ProductCategoryId::varchar"),
        ('product_category', "var:ProductCategory::varchar"),
        ('gl_code', "var:GLCode::varchar"),
        ('cost_type', "var:CostType::varchar"),
        ('carrier_unit_cost', "var:CarrierUnitCost::number(16, 2)"),
        ('carrier_quantity', "var:CarrierQuantity::number(38, 0)"),
        ('carrier_amount', "var:CarrierAmount::number(16, 2)"),
        ('carrier_display_amount', "var:CarrierDisplayAmount::number(16, 2)"),
        ('carrier_remarks', "var:CarrierRemarks::varchar"),
        ('unit_cost', "var:UnitCost::number(16, 2)"),
        ('quantity', "var:Quantity::number(38, 0)"),
        ('amount', "var:Amount::number(16, 2)"),
        ('display_amount', "var:DisplayAmount::number(16, 2)"),
        ('remarks', "var:Remarks::varchar"),
        ('current_unit_cost', "var:CurrentUnitCost::number(16, 2)"),
        ('current_quantity', "var:CurrentQuantity::number(38, 0)"),
        ('current_amount', "var:CurrentAmount::number(16, 2)"),
        ('current_display_amount', "var:CurrentDisplayAmount::number(16, 2)"),
        ('ori_unit_cost', "var:OriUnitCost::number(16, 2)"),
        ('ori_quantity', "var:OriQuantity::number(38, 0)"),
        ('ori_amount', "var:OriAmount::number(16, 2)"),
        ('approval_date', convert_to_mastercountry_tz("var:ApprovalDate")),
        ('approval_by', "var:ApprovalBy::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('carrier_cost_etag', "var:CarrierCostETag::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
