{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "carrier_cost_pre_approvals",
    "cms_stage",
    "CarrierCostPreApprovals"
  ) -%}
    id varchar(16777216),
    job_file_id varchar(16777216),
    carrier_cost_id varchar(16777216),
    status varchar(16777216),
    carrier_status varchar(16777216),
    product_id varchar(16777216),
    product_name varchar(16777216),
    product_display_name varchar(16777216),
    product_description varchar(16777216),
    product_category_id varchar(16777216),
    product_category varchar(16777216),
    gl_code varchar(16777216),
    cost_type varchar(16777216),
    carrier_unit_cost number(16, 2),
    carrier_quantity number(38, 0),
    carrier_amount number(16, 2),
    carrier_display_amount number(16, 2),
    carrier_remarks varchar(16777216),
    unit_cost number(16, 2),
    quantity number(38, 0),
    amount number(16, 2),
    display_amount number(16, 2),
    remarks varchar(16777216),
    current_unit_cost number(16, 2),
    current_quantity number(38, 0),
    current_amount number(16, 2),
    current_display_amount number(16, 2),
    ori_unit_cost number(16, 2),
    ori_quantity number(38, 0),
    ori_amount number(16, 2),
    approval_date timestamp_tz(9),
    approval_by varchar(16777216),
    is_deleted boolean,
    tenant_id varchar(16777216),
    carrier_cost_etag varchar(16777216),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
