create or replace pipe {{ load_cms_audit_schema }}.adt_job_files_pipe
    auto_ingest = true
    integration = 'AZ_STORAGE_QUEUE_INTEGRATION'
    error_integration = 'AZ_ERROR_INTEGRATION'  -- noqa
as copy into {{ load_cms_audit_schema }}.load_adt_job_files
from @{{ load_cms_audit_schema }}.cms_audit_stage pattern = 'hist_ADTJobFiles_.*';
