{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "carrier_tax_amounts",
    "cms_stage",
    "CarrierTaxAmounts"
  ) -%}
    id varchar,
    product_tax_id varchar,
    product_id varchar,
    tax_name varchar,
    tax_display_name varchar,
    tax_description varchar,
    carrier_cost_id varchar,
    tax_amount number(16, 2),
    tax_rate number(16, 6),
    input_amount number(16, 2),
    output_amount number(16, 2),
    is_tax_exclusive boolean,
    gl_code varchar,
    is_deleted boolean,
    created_by varchar,
    created_at timestamp_tz(9),
    updated_by varchar,
    updated_at timestamp_tz(9),
    tenant_id varchar,
    tenant_country_id varchar,
    tax_code varchar,
    currency_code varchar(50),
    currency_code_id varchar,
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
