{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_entities",
        [
        ('id', "var:Id::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_category_id', "var:ShipperCategoryId::varchar"),
        ('company_name', "var:CompanyName::varchar"),
        ('company_reg_no', "var:CompanyRegNo::varchar"),
        ('country', "var:Country::varchar"),
        ('state_province', "var:StateProvince::varchar"),
        ('city_district_1', "var:CityDistrict1::varchar"),
        ('city_district_2', "var:CityDistrict2::varchar"),
        ('street_address', "var:StreetAddress::varchar"),
        ('postal_code', "var:PostalCode::varchar"),
        ('is_active', "var:IsActive::boolean"),
        ('pic_id', "var:PICId::varchar"),
        ('shipper_icon', "var:ShipperIcon::varchar"),
        ('is_paper_invoice', "var:IsPaperInvoice::boolean"),
        ('is_per_shipment_invoice_create', "var:IsPerShipmentInvoiceCreate::boolean"),
        ('is_payment_method_credit_card', "var:IsPaymentMethodCreditCard::boolean"),
        ('is_payment_method_invoice', "var:IsPaymentMethodInvoice::boolean"),
        ('is_payment_method_online', "var:IsPaymentMethodOnline::boolean"),
        ('account_company_name', "var:AccountCompanyName::varchar"),
        ('account_country', "var:AccountCountry::varchar"),
        ('account_state_province', "var:AccountStateProvince::varchar"),
        ('account_city_district_1', "var:AccountCityDistrict1::varchar"),
        ('account_city_district_2', "var:AccountCityDistrict2::varchar"),
        ('account_street_address', "var:AccountStreetAddress::varchar"),
        ('account_postal_code', "var:AccountPostalCode::varchar"),
        ('credit_term_days', "var:CreditTermDays::number(18, 0)"),
        ('primary_contact_first_name', "var:PrimaryContactFirstName::varchar"),
        ('primary_contact_last_name', "var:PrimaryContactLastName::varchar"),
        ('primary_contact_phone_number', "var:PrimaryContactPhoneNumber::varchar"),
        ('primary_contact_email', "var:PrimaryContactEmail::varchar"),
        ('reference_1', "var:Reference1::varchar"),
        ('reference_2', "var:Reference2::varchar"),
        ('reference_3', "var:Reference3::varchar"),
        ('reference_4', "var:Reference4::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('account_holder_id', "var:AccountHolderId::varchar"),
        ('account_reg_no', "var:AccountRegNo::varchar"),
        ('invoice_inquiry_email', "var:InvoiceInquiryEmail::varchar"),
        ('invoice_inquiry_first_name', "var:InvoiceInquiryFirstName::varchar"),
        ('invoice_inquiry_last_name', "var:InvoiceInquiryLastName::varchar"),
        ('invoice_inquiry_phone_number', "var:InvoiceInquiryPhoneNumber::varchar"),
        ('gstin_setting_id', "var:GstINSettingId::varchar"),
        ('virtual_bank_account_number', "var:VirtualBankAccountNumber::varchar"),
        ('virtual_bank_name', "var:VirtualBankName::varchar"),
        ('virtual_bank_swift_code', "var:VirtualBankSwiftCode::varchar"),
        ('vitual_bank_beneficiary', "var:VitualBankBeneficiary::varchar"),
        ('transaction_category_id', "var:TransactionCategoryId::varchar"),
        ('credit_limit', "var:CreditLimit::number(18, 2)"),
        ('eori_expiry_date', convert_to_mastercountry_tz("var:EORIExpiryDate")),
        ('eori_number', "var:EORINumber::varchar"),
        ('is_tax_residence', "var:IsTaxResidence::boolean"),
        ('is_annexure_enabled', "var:IsAnnexureEnabled::boolean"),
        ('is_enabled_oracle_ar', "var:IsEnabledOracleAR::boolean"),
        ('invoice_creation_type', "var:InvoiceCreationType::varchar"),
        ('next_schedule', convert_to_mastercountry_tz("var:NextSchedule")),
        ('is_oracle_ar_report_enabled', "var:IsOracleArReportEnabled::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('account_currency', "var:AccountCurrency::varchar"),
        ('shipper_credit_term_id', "var:ShipperCreditTermId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
