{% from 'macros/cms_audit.j2' import create_cms_audit_merge_task -%}
{% from 'macros/cms.j2' import convert_to_mastercountry_tz -%}

{{ create_cms_audit_merge_task(
        cms_audit_schema,
        load_cms_audit_schema,
        "shipment_cost_audit_trails",
        [
        ('id', "var:Id::varchar"),
        ('version_no', "var:Version::number(38, 0)"),
        ('is_current', "var:Current::boolean"),
        ('job_file_id', "var:JobFileId::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('shipment_number', "var:ShipmentNumber::varchar"),
        ('job_file', "var:JobFile::number(38, 0)"),
        ('shipper_costs', "var:ShipperCosts::number(38, 0)"),
        ('carrier_costs', "var:CarrierCosts::number(38, 0)"),
        ('trigger_by_entity_type', "var:TriggerByEntityType::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('inserted_by', "var:InsertedBy::varchar"),
        ('inserted_at', convert_to_mastercountry_tz("var:InsertedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('after_save_entities', "var:AfterSaveEntities::varchar"),
        ('before_save_entities', "var:BeforeSaveEntities::varchar"),
        ],
        ('id', "var:Id::varchar"),
        cms_schema
    )
}}
