{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_audit_schema,
    load_cms_audit_schema,
    "adt_transport_documents",
    "cms_audit_stage",
    "adt_transport_documents"
  ) -%}
    id number(38, 0),
    transport_order_id varchar,
    shipment_number varchar,
    entity_data varchar,
    is_current boolean,
    created_at timestamp_tz(9),
    tenant_country_id varchar,
    master_countries_country_time_zone varchar
{%- endcall %}
