{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "profile_users",
    "cms_stage",
    "ProfileUsers"
  ) -%}
    profile_id varchar(16777216),
    tenant_id varchar(16777216),
    first_name varchar(16777216),
    last_name varchar(16777216),
    contact_number varchar(16777216),
    carrier_profile varchar(16777216),
    shipper_profile varchar(16777216),
    cms_profile varchar(16777216),
    email varchar(16777216),
    auth_id varchar(16777216),
    is_admin boolean,
    is_country_admin boolean,
    is_deleted boolean,
    status number(38, 0),
    country varchar(16777216),
    is_locked boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
