{% from 'macros/pricing.j2' import create_pricing_merge_task -%}

{{ create_pricing_merge_task(
        pricing_schema,
        load_pricing_schema,
        "sell_rates",
        [
        ('origin', "ORIGIN::varchar"),
        ('destination', "DESTINATION::varchar"),
        ('sell', "SELL::number(38, 2)"),
        ('created', "to_timestamp(CREATED::varchar, 'DD/MM/YYYY HH24:MI')::timestamp_tz(9)"),
        ]
    )
}}
