{# Only give access to final tables, not the load_* tables #}

{% for role in ["analyst", "transformer"] %}
grant usage on schema {{ streaming_schema }} to role {{ role }};

grant select on all tables in schema {{ streaming_schema }} to role {{ role }};
grant select on all views in schema {{ streaming_schema }} to role {{ role }};
{% endfor %}

{% if not is_prod %}
grant usage on schema {{ streaming_schema }} to role developer;
grant select on all tables in schema {{ streaming_schema }} to role developer;
grant select on all views in schema {{ streaming_schema }} to role developer;
{% endif %}
