{% from 'macros/zoho_crm.j2' import create_zoho_crm_merge_task -%}

{{ create_zoho_crm_merge_task(
        zoho_crm_schema,
        load_zoho_crm_schema,
        "leads",
        [
        ('id', "var:Id::number"),
        ('owner', "var:Owner::number"),
        ('company', "var:Company::varchar"),
        ('first_name', "var:First_Name::varchar"),
        ('last_name', "var:Last_Name::varchar"),
        ('full_name', "var:Full_Name::varchar"),
        ('email', "var:Email::varchar"),
        ('phone', "var:Phone::varchar"),
        ('mobile', "var:Mobile::varchar"),
        ('website', "var:Website::varchar"),
        ('lead_source', "var:Lead_Source::varchar"),
        ('lead_status', "var:Lead_Status::varchar"),
        ('industry', "var:Industry::varchar"),
        ('no_of_employees', "var:No_of_Employees::number"),
        ('annual_revenue', "var:Annual_Revenue::number"),
        ('campaign_source', "var:Campaign_Source::varchar"),
        ('email_opt_out', "var:Email_Opt_Out::boolean"),
        ('created_by', "var:Created_By::number"),
        ('modified_by', "var:Modified_By::number"),
        ('created_time', "var:Created_Time::timestamp_tz(9)"),
        ('modified_time', "var:Modified_Time::timestamp_tz(9)"),
        ('last_activity_time', "var:Last_Activity_Time::timestamp_tz(9)"),
        ('description', "var:Description::varchar"),
        ('user_modified_time', "var:User_Modified_Time::timestamp_tz(9)"),
        ('system_related_activity_time', "var:System_Related_Activity_Time::timestamp_tz(9)"),
        ('user_related_activity_time', "var:User_Related_Activity_Time::timestamp_tz(9)"),
        ('system_modified_time', "var:System_Modified_Time::timestamp_tz(9)"),
        ('unsubscribed_mode', "var:Unsubscribed_Mode::varchar"),
        ('unsubscribed_time', "var:Unsubscribed_Time::timestamp_tz(9)"),
        ('gp_opportunity_size', "var:GP_Opportunity_Size::number"),
        ('revenue_opportunity_size', "var:Revenue_Opportunity_Size::number"),
        ('scope_of_opportunity', "var:Scope_of_Opportunity::varchar"),
        ('latest_update_action', "var:Latest_Update_Action::varchar"),
        ('funnel', "var:Funnel::varchar"),
        ('contact_name', "var:Contact_Name::number"),
        ('lead_company', "var:Lead_Company::varchar"),
        ('contact_title', "var:Contact_Title::varchar"),
        ('contact_email', "var:Contact_Email::varchar"),
        ('contact_phone', "var:Contact_Phone::varchar"),
        ('strategies', "var:Strategies::varchar"),
        ('issues', "var:Issues::varchar"),
        ('weaknesses', "var:Weaknesses::varchar"),
        ('strengths', "var:Strengths::varchar"),
        ('threats', "var:Threats::varchar"),
        ('opportunities', "var:Opportunities::varchar"),
        ('profile', "var:Profile::varchar"),
        ('objectives', "var:Objectives::varchar"),
        ('decision_maker', "var:Decision_Maker::number"),
        ('gatekeeper', "var:Gatekeeper::number"),
        ('coach', "var:Coach::varchar"),
        ('d_b_business_risk', "var:D_B_Business_Risk::varchar"),
        ('account', "var:Account::number"),
        ('request_atp', "var:Request_ATP::boolean"),
        ('atp_win_plan', "var:ATP_Win_Plan::varchar"),
        ('cross_border_eu', "var:Cross_Border_EU::boolean"),
        ],
        ('id', "var:Id::number")
    )
}}
