{% from 'macros/cfx.j2' import create_cfx_merge_task -%}

{{ create_cfx_merge_task(
        cfx_schema,
        load_cfx_schema,
        "dg_invoice",
        [
        ('invoice_gid', "var:INVOICE_GID::varchar"),
        ('invoice_xid', "var:INVOICE_XID::varchar"),
        ('invoice_type', "var:INVOICE_TYPE::varchar"),
        ('invoice_source', "var:INVOICE_SOURCE::varchar"),
        ('invoicestatus', "var:INVOICESTATUS::varchar"),
        ('entered_by_gl_user_gid', "var:ENTERED_BY_GL_USER_GID::varchar"),
        ('invoice_number', "var:INVOICE_NUMBER::varchar"),
        ('servprov_alias_qual_gid', "var:SERVPROV_ALIAS_QUAL_GID::varchar"),
        ('servprov_alias_value', "var:SERVPROV_ALIAS_VALUE::varchar"),
        ('correction_code_id', "var:CORRECTION_CODE_ID::varchar"),
        ('invoice_date', "nullif(var:INVOICE_DATE::varchar,'')::timestamp_tz(9)"),
        ('currency_gid', "var:CURRENCY_GID::varchar"),
        ('net_amount_due', "nullif(var:NET_AMOUNT_DUE::varchar,'')::number(38, 4)"),
        ('net_amount_due_gid', "var:NET_AMOUNT_DUE_GID::varchar"),
        ('net_amount_base', "nullif(var:NET_AMOUNT_BASE::varchar,'')::number(38, 4)"),
        ('net_due_date', "nullif(var:NET_DUE_DATE::varchar,'')::timestamp_tz(9)"),
        ('payment_method_code_gid', "var:PAYMENT_METHOD_CODE_GID::varchar"),
        ('start_date', "nullif(var:START_DATE::varchar,'')::timestamp_tz(9)"),
        ('end_date', "nullif(var:END_DATE::varchar,'')::timestamp_tz(9)"),
        ('invoice_service_code_gid', "var:INVOICE_SERVICE_CODE_GID::varchar"),
        ('inco_term_gid', "var:INCO_TERM_GID::varchar"),
        ('discount_amount', "nullif(var:DISCOUNT_AMOUNT::varchar, '')::number(38, 4)"),
        ('discount_amount_gid', "var:DISCOUNT_AMOUNT_GID::varchar"),
        ('discount_amount_base', "nullif(var:DISCOUNT_AMOUNT_BASE::varchar, '')::number(38, 4)"),
        ('discount_percentage', "nullif(var:DISCOUNT_PERCENTAGE::varchar, '')::number(38, 2)"),
        ('discount_days_due', "nullif(var:DISCOUNT_DAYS_DUE::varchar, '')::number(38, 0)"),
        ('discount_due_date', "nullif(var:DISCOUNT_DUE_DATE::varchar, '')::timestamp_tz(9)"),
        ('origin_station_city', "var:ORIGIN_STATION_CITY::varchar"),
        ('origin_station_fsac', "var:ORIGIN_STATION_FSAC::varchar"),
        ('origin_station_splc', "var:ORIGIN_STATION_SPLC::varchar"),
        ('origin_station_province_code', "var:ORIGIN_STATION_PROVINCE_CODE::varchar"),
        ('origin_station_postal_code', "var:ORIGIN_STATION_POSTAL_CODE::varchar"),
        ('origin_country_code3_gid', "var:ORIGIN_COUNTRY_CODE3_GID::varchar"),
        ('dest_station_city', "var:DEST_STATION_CITY::varchar"),
        ('dest_station_fsac', "var:DEST_STATION_FSAC::varchar"),
        ('dest_station_splc', "var:DEST_STATION_SPLC::varchar"),
        ('dest_station_province_code', "var:DEST_STATION_PROVINCE_CODE::varchar"),
        ('dest_station_postal_code', "var:DEST_STATION_POSTAL_CODE::varchar"),
        ('dest_country_code3_gid', "var:DEST_COUNTRY_CODE3_GID::varchar"),
        ('letter_of_credit_exp_date', "nullif(var:LETTER_OF_CREDIT_EXP_DATE::varchar, '')::timestamp_tz(9)"),
        ('letter_of_credit_issue_date', "nullif(var:LETTER_OF_CREDIT_ISSUE_DATE::varchar, '')::timestamp_tz(9)"),
        ('letter_of_credit_number', "var:LETTER_OF_CREDIT_NUMBER::varchar"),
        ('vessel_code_qualifier', "var:VESSEL_CODE_QUALIFIER::varchar"),
        ('vessel_code', "var:VESSEL_CODE::varchar"),
        ('vessel_country_code3_gid', "var:VESSEL_COUNTRY_CODE3_GID::varchar"),
        ('vessel_gid', "var:VESSEL_GID::varchar"),
        ('ves_op_servprov_alias_qual_gid', "var:VES_OP_SERVPROV_ALIAS_QUAL_GID::varchar"),
        ('ves_op_servprov_alias_value', "var:VES_OP_SERVPROV_ALIAS_VALUE::varchar"),
        ('voyage_number', "var:VOYAGE_NUMBER::varchar"),
        ('parent_invoice_gid', "var:PARENT_INVOICE_GID::varchar"),
        ('date_received', "nullif(var:DATE_RECEIVED::varchar, '')::timestamp_tz(9)"),
        ('indicator', "var:INDICATOR::varchar"),
        ('supply_country_code3_gid', "var:SUPPLY_COUNTRY_CODE3_GID::varchar"),
        ('servprov_vat_reg_no_gid', "var:SERVPROV_VAT_REG_NO_GID::varchar"),
        ('customer_vat_reg_no_gid', "var:CUSTOMER_VAT_REG_NO_GID::varchar"),
        ('vat_exempt_value', "var:VAT_EXEMPT_VALUE::varchar"),
        ('net_amt_due_with_tax', "nullif(var:NET_AMT_DUE_WITH_TAX::varchar, '')::number(38, 4)"),
        ('net_amt_due_w_tax_currency_gid', "var:NET_AMT_DUE_W_TAX_CURRENCY_GID::varchar"),
        ('net_amt_due_with_tax_base', "nullif(var:NET_AMT_DUE_WITH_TAX_BASE::varchar, '')::number(38, 4)"),
        ('is_pass_through', "nullif(var:IS_PASS_THROUGH::varchar, '')::boolean"),
        ('consolidation_type', "var:CONSOLIDATION_TYPE::varchar"),
        ('is_fixed_cost', "nullif(var:IS_FIXED_COST::varchar, '')::boolean"),
        ('base_charge', "nullif(var:BASE_CHARGE::varchar, '')::number(38, 4)"),
        ('base_charge_currency_gid', "var:BASE_CHARGE_CURRENCY_GID::varchar"),
        ('base_charge_base', "nullif(var:BASE_CHARGE_BASE::varchar, '')::number(38, 4)"),
        ('other_charge', "nullif(var:OTHER_CHARGE::varchar, '')::number(38, 4)"),
        ('other_charge_currency_gid', "var:OTHER_CHARGE_CURRENCY_GID::varchar"),
        ('other_charge_base', "nullif(var:OTHER_CHARGE_BASE::varchar, '')::number(38, 4)"),
        ('is_credit_note', "nullif(var:IS_CREDIT_NOTE::varchar, '')::boolean"),
        ('user_defined1_icon_gid', "var:USER_DEFINED1_ICON_GID::varchar"),
        ('user_defined2_icon_gid', "var:USER_DEFINED2_ICON_GID::varchar"),
        ('user_defined3_icon_gid', "var:USER_DEFINED3_ICON_GID::varchar"),
        ('user_defined4_icon_gid', "var:USER_DEFINED4_ICON_GID::varchar"),
        ('user_defined5_icon_gid', "var:USER_DEFINED5_ICON_GID::varchar"),
        ('exchange_rate_date', "nullif(var:EXCHANGE_RATE_DATE::varchar,'')::timestamp_tz(9)"),
        ('exchange_rate_gid', "var:EXCHANGE_RATE_GID::varchar"),
        ('servprov_gid', "var:SERVPROV_GID::varchar"),
        ('sail_date', "nullif(var:SAIL_DATE::varchar,'')::timestamp_tz(9)"),
        ('sail_cutoff_date', "nullif(var:SAIL_CUTOFF_DATE::varchar,'')::timestamp_tz(9)"),
        ('rail_date', "nullif(var:RAIL_DATE::varchar,'')::timestamp_tz(9)"),
        ('is_hazardous', "nullif(var:IS_HAZARDOUS::varchar,'')::boolean"),
        ('is_temperature_control', "nullif(var:IS_TEMPERATURE_CONTROL::varchar,'')::boolean"),
        ('invoicing_process', "var:INVOICING_PROCESS::varchar"),
        ('is_vat_analysis_fixed', "nullif(var:IS_VAT_ANALYSIS_FIXED::varchar,'')::boolean"),
        ('original_invoice_gid', "var:ORIGINAL_INVOICE_GID::varchar"),
        ('discount_amt_fn', "nullif(var:DISCOUNT_AMT_FN::varchar,'')::number(38, 4)"),
        ('discount_amt_fn_currency_gid', "var:DISCOUNT_AMT_FN_CURRENCY_GID::varchar"),
        ('net_amount_due_fn', "nullif(var:NET_AMOUNT_DUE_FN::varchar,'')::number(38, 4)"),
        ('net_amount_due_fn_currency_gid', "var:NET_AMOUNT_DUE_FN_CURRENCY_GID::varchar"),
        ('net_amt_w_tax_fn', "nullif(var:NET_AMT_W_TAX_FN::varchar,'')::number(38, 4)"),
        ('net_amt_w_tax_fn_currency_gid', "var:NET_AMT_W_TAX_FN_CURRENCY_GID::varchar"),
        ('net_amt_w_tax_fn_1', "nullif(var:NET_AMT_W_TAX_FN_1::varchar,'')::number(38, 4)"),
        ('base_charge_fn_currency_gid', "var:BASE_CHARGE_FN_CURRENCY_GID::varchar"),
        ('net_amt_w_tax_fn_2', "nullif(var:NET_AMT_W_TAX_FN_2::varchar,'')::number(38, 4)"),
        ('other_charge_fn_currency_gid', "var:OTHER_CHARGE_FN_CURRENCY_GID::varchar"),
        ('gl_date', "nullif(var:GL_DATE::varchar,'')::timestamp_tz(9)"),
        ('marked_for_purge', "var:MARKED_FOR_PURGE::varchar"),
        ('attribute1', "var:ATTRIBUTE1::varchar"),
        ('attribute7', "var:ATTRIBUTE7::varchar"),
        ('attribute15', "var:ATTRIBUTE15::varchar"),
        ('attribute_date1', "nullif(var:ATTRIBUTE_DATE1::varchar,'')::timestamp_tz(9)"),
        ('domain_name', "var:DOMAIN_NAME::varchar"),
        ('insert_user', "var:INSERT_USER::varchar"),
        ('insert_date', "nullif(var:INSERT_DATE::varchar, '')::timestamp_tz(9)"),
        ('update_user', "var:UPDATE_USER::varchar"),
        ('update_date', "coalesce(nullif(var:UPDATE_DATE::varchar, ''), nullif(var:INSERT_DATE::varchar, ''))::timestamp_tz(9)"),
        ],
        ('invoice_gid', "var:INVOICE_GID::varchar")
    )
}}
