{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cfx_schema,
    load_cfx_schema,
    "dg_invoice",
    "cfx_stage",
    "DG_INVOICE"
  ) -%}
    invoice_gid varchar,
    invoice_xid varchar,
    invoice_type varchar,
    invoice_source varchar,
    invoicestatus varchar,
    entered_by_gl_user_gid varchar,
    invoice_number varchar,
    servprov_alias_qual_gid varchar,
    servprov_alias_value varchar,
    correction_code_id varchar,
    invoice_date timestamp_tz(9),
    currency_gid varchar,
    net_amount_due number(38,4),
    net_amount_due_gid varchar,
    net_amount_base number(38,4),
    net_due_date timestamp_tz(9),
    payment_method_code_gid varchar,
    start_date timestamp_tz(9),
    end_date timestamp_tz(9),
    invoice_service_code_gid varchar,
    inco_term_gid varchar,
    discount_amount number(38,4),
    discount_amount_gid varchar,
    discount_amount_base number(38,4),
    discount_percentage number(38,2),
    discount_days_due number(38,0),
    discount_due_date timestamp_tz(9),
    origin_station_city varchar,
    origin_station_fsac varchar,
    origin_station_splc varchar,
    origin_station_province_code varchar,
    origin_station_postal_code varchar,
    origin_country_code3_gid varchar,
    dest_station_city varchar,
    dest_station_fsac varchar,
    dest_station_splc varchar,
    dest_station_province_code varchar,
    dest_station_postal_code varchar,
    dest_country_code3_gid varchar,
    letter_of_credit_exp_date timestamp_tz(9),
    letter_of_credit_issue_date timestamp_tz(9),
    letter_of_credit_number varchar,
    vessel_code_qualifier varchar,
    vessel_code varchar,
    vessel_country_code3_gid varchar,
    vessel_gid varchar,
    ves_op_servprov_alias_qual_gid varchar,
    ves_op_servprov_alias_value varchar,
    voyage_number varchar,
    parent_invoice_gid varchar,
    date_received timestamp_tz(9),
    indicator varchar,
    supply_country_code3_gid varchar,
    servprov_vat_reg_no_gid varchar,
    customer_vat_reg_no_gid varchar,
    vat_exempt_value varchar,
    net_amt_due_with_tax number(38,4),
    net_amt_due_w_tax_currency_gid varchar,
    net_amt_due_with_tax_base number(38,4),
    is_pass_through boolean,
    consolidation_type varchar,
    is_fixed_cost boolean,
    base_charge number(38,4),
    base_charge_currency_gid varchar,
    base_charge_base number(38,4),
    other_charge number(38,4),
    other_charge_currency_gid varchar,
    other_charge_base number(38,4),
    is_credit_note boolean,
    user_defined1_icon_gid varchar,
    user_defined2_icon_gid varchar,
    user_defined3_icon_gid varchar,
    user_defined4_icon_gid varchar,
    user_defined5_icon_gid varchar,
    exchange_rate_date timestamp_tz(9),
    exchange_rate_gid varchar,
    servprov_gid varchar,
    sail_date timestamp_tz(9),
    sail_cutoff_date timestamp_tz(9),
    rail_date timestamp_tz(9),
    is_hazardous boolean,
    is_temperature_control boolean,
    invoicing_process varchar,
    is_vat_analysis_fixed boolean,
    original_invoice_gid varchar,
    discount_amt_fn number(38,4),
    discount_amt_fn_currency_gid varchar,
    net_amount_due_fn number(38,4),
    net_amount_due_fn_currency_gid varchar,
    net_amt_w_tax_fn number(38,4),
    net_amt_w_tax_fn_currency_gid varchar,
    net_amt_w_tax_fn_1 number(38,4),
    base_charge_fn_currency_gid varchar,
    net_amt_w_tax_fn_2 number(38,4),
    other_charge_fn_currency_gid varchar,
    gl_date timestamp_tz(9),
    marked_for_purge varchar,
    attribute1 varchar,
    attribute7 varchar,
    attribute15 varchar,
    attribute_date1 timestamp_tz(9),
    domain_name varchar,
    insert_user varchar,
    insert_date timestamp_tz(9),
    update_user varchar,
    update_date timestamp_tz(9)
    {%- endcall %}
