{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_live_rate_offers",
        [
        ('id', "var:Id::varchar"),
        ('offer_id', "var:OfferId::varchar"),
        ('rate_id', "var:RateId::varchar"),
        ('shipment_number', "var:ShipmentNumber::varchar"),
        ('has_benchmark_rate', "var:HasBenchmarkRate::boolean"),
        ('benchmark_rate', "var:BenchmarkRate::number(18,2)"),
        ('offer_window_start', convert_to_mastercountry_tz("var:OfferWindowStart")),
        ('offer_window_end', convert_to_mastercountry_tz("var:OfferWindowEnd")),
        ('time_zone', "var:TimeZone::varchar"),
        ('is_instant_accept', "var:IsInstantAccept::boolean"),
        ('instant_accept_perc', "var:InstantAcceptPerc::number(18,2)"),
        ('is_closed_accept', "var:IsClosedAccept::boolean"),
        ('closed_accept_perc', "var:ClosedAcceptPerc::number(18,2)"),
        ('is_closed', "var:IsClosed::boolean"),
        ('status', "var:Status::varchar"),
        ('session_id', "var:SessionId::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('offered_at', convert_to_mastercountry_tz("var:OfferedAt")),
        ('is_processing_manual_accept', "var:IsProcessingManualAccept::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
