{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_bookmark_filters",
        [
        ('id', "var:Id::varchar"),
        ('rule_name', "var:RuleName::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('shipment_type', "var:ShipmentType::varchar"),
        ('traction_type', "var:TractionType::varchar"),
        ('offer_type', "var:OfferType::varchar"),
        ('vehicle_sizes', "var:VehicleSizes::varchar"),
        ('order_no', "var:OrderNo::number(38, 0)"),
        ('is_active', "var:IsActive::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('exclude_job_matchings', "var:ExcludeJobMatchings::varchar"),
        ('lead_time_selection_max', "var:LeadTimeSelectionMax::number(18, 2)"),
        ('lead_time_selection_min', "var:LeadTimeSelectionMin::number(18, 2)"),
        ('total_load_weight_max', "var:TotalLoadWeightMax::number(18, 2)"),
        ('total_load_weight_min', "var:TotalLoadWeightMin::number(18, 2)"),
        ('vehicle_buildups', "var:VehicleBuildUps::varchar"),
        ('cost_per_mile_max', "var:CostPerMileMax::number(18, 2)"),
        ('cost_per_mile_min', "var:CostPerMileMin::number(18, 2)"),
        ('delivery_city', "var:DeliveryCity::varchar"),
        ('delivery_city_radius', "var:DeliveryCityRadius::number(18, 2)"),
        ('pick_city', "var:PickCity::varchar"),
        ('pick_city_radius', "var:PickCityRadius::number(18, 2)"),
        ('region', "var:Region::varchar"),
        ('delivery_city_latitude', "var:DeliveryCityLatitude::number(18, 6)"),
        ('delivery_city_longitude', "var:DeliveryCityLongitude::number(18, 6)"),
        ('delivery_city_place_id', "var:DeliveryCityPlaceId::varchar"),
        ('pick_city_latitude', "var:PickCityLatitude::number(18, 6)"),
        ('pick_city_longitude', "var:PickCityLongitude::number(18, 6)"),
        ('pick_city_place_id', "var:PickCityPlaceId::varchar"),
        ('delivery_city_region', "var:DeliveryCityRegion::varchar"),
        ('pick_city_region', "var:PickCityRegion::varchar"),
        ('requires_additional_accreditation', "var:RequiresAdditionalAccreditation::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
