{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "shipper_costs",
    "cms_stage",
    "ShipperCosts"
  ) -%}
    id varchar(16777216),
    job_file_id varchar(16777216),
    invoice_id varchar(16777216),
    transport_order_id varchar(16777216),
    transport_route_id varchar(16777216),
    transport_category varchar(16777216),
    contract_id varchar(16777216),
    shipper_id varchar(16777216),
    project_id varchar(16777216),
    product_id varchar(16777216),
    product_name varchar(16777216),
    product_display_name varchar(16777216),
    product_description varchar(16777216),
    product_category_id varchar(16777216),
    product_category varchar(16777216),
    gl_code varchar(16777216),
    cost_type varchar(16777216),
    status varchar(16777216),
    invoice_status varchar(16777216),
    unit_cost number(16,2),
    quantity number(38,0),
    amount number(16,2),
    display_amount number(16,2),
    tax_amount number(16,2),
    is_booking boolean,
    ori_unit_cost number(16,2),
    ori_quantity number(38,0),
    ori_amount number(16,2),
    is_deleted boolean,
    tenant_id varchar(16777216),
    document_number varchar(16777216),
    project_name varchar(16777216),
    shipment_number varchar(16777216),
    shipper_company_name varchar(16777216),
    shipper_display_id varchar(16777216),
    etag varchar(16777216),
    ori_tax_amount number(18,2),
    cost_approval_status varchar(16777216),
    bol_number varchar(16777216),
    booking_display_id varchar(16777216),
    faf_amount number(18,2),
    formula_name varchar(16777216),
    formula_value varchar(16777216),
    is_faf_applied boolean,
    ori_faf_amount number(18,2),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
