{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cfx_schema,
    load_cfx_schema,
    "dg_shipment_stop",
    "cfx_stage",
    "DG_SHIPMENT_STOP"
  ) -%}
    shipment_gid varchar,
    stop_num number(38,0),
    location_gid varchar,
    location_role_gid varchar,
    planned_arrival timestamp_tz(9),
    estimated_arrival timestamp_tz(9),
    is_fixed_arrival boolean,
    actual_arrival timestamp_tz(9),
    planned_departure timestamp_tz(9),
    estimated_departure timestamp_tz(9),
    is_fixed_departure boolean,
    actual_departure timestamp_tz(9),
    wait_time number(38,2),
    wait_time_uom_code varchar,
    wait_time_base number(38,2),
    rest_time number(38,2),
    rest_time_uom_code varchar,
    rest_time_base number(38,2),
    drive_time number(38,2),
    drive_time_uom_code varchar,
    drive_time_base number(38,2),
    dist_from_prev_stop number(38,2),
    dist_from_prev_stop_uom_code varchar,
    dist_from_prev_stop_base number(38,2),
    activity_time number(38,2),
    activity_time_uom_code varchar,
    activity_time_base number(38,2),
    is_permanent boolean,
    is_depot boolean,
    appointment_pickup varchar,
    appointment_delivery varchar,
    accessorial_time number(38,2),
    accessorial_time_uom_code varchar,
    accessorial_time_base number(38,2),
    parent_location_gid varchar,
    location_override_gid varchar,
    stop_requirement_type varchar,
    rate_service_gid varchar,
    arbitrary_type varchar,
    is_fixed_distance boolean,
    ext_seq_no number(38,2),
    rush_hour_time number(38,2),
    rush_hour_time_uom_code varchar,
    rush_hour_time_base number(38,2),
    voyage_gid varchar,
    is_mother_vessel boolean,
    flight_instance_id varchar,
    repetition_schedule_gid varchar,
    stop_type varchar,
    slack_variance varchar,
    driver_non_payable varchar,
    repetition_sched_stop_number number(38,2),
    distance_type varchar,
    attribute1 varchar,
    attribute2 varchar,
    attribute3 varchar,
    attribute4 varchar,
    attribute5 varchar,
    attribute6 varchar,
    attribute7 varchar,
    attribute8 varchar,
    attribute9 varchar,
    attribute10 varchar,
    attribute11 varchar,
    attribute12 varchar,
    attribute13 varchar,
    attribute14 varchar,
    attribute15 varchar,
    attribute16 varchar,
    attribute17 varchar,
    attribute18 varchar,
    attribute19 varchar,
    attribute20 varchar,
    attribute_number1 number(38,2),
    attribute_number2 number(38,2),
    attribute_number3 number(38,2),
    attribute_number4 number(38,2),
    attribute_number5 number(38,2),
    attribute_number6 number(38,2),
    attribute_number7 number(38,2),
    attribute_number8 number(38,2),
    attribute_number9 number(38,2),
    attribute_number10 number(38,2),
    attribute_date1 timestamp_tz(9),
    attribute_date2 timestamp_tz(9),
    attribute_date3 timestamp_tz(9),
    attribute_date4 timestamp_tz(9),
    attribute_date5 timestamp_tz(9),
    attribute_date6 timestamp_tz(9),
    attribute_date7 timestamp_tz(9),
    attribute_date8 timestamp_tz(9),
    attribute_date9 timestamp_tz(9),
    attribute_date10 timestamp_tz(9),
    appointment_window_start timestamp_tz(9),
    appointment_window_end timestamp_tz(9),
    domain_name varchar,
    insert_user varchar,
    insert_date timestamp_tz(9),
    update_user varchar,
    update_date timestamp_tz(9),
    rate_distance_gid varchar,
    route_code_gid varchar
    {%- endcall %}
