{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "carrier_live_rate_offer_costs",
    "cms_stage",
    "CarrierLiveRateOfferCosts"
  ) -%}
    id varchar(16777216),
    carrier_live_rate_offer_id varchar(16777216),
    product_id varchar(16777216),
    product_name varchar(16777216),
    product_display_name varchar(16777216),
    product_category varchar(16777216),
    product_category_id varchar(16777216),
    cost_type varchar(16777216),
    quantity number(38, 0),
    is_benchmark boolean,
    sell_rate number(18, 2),
    buy_rate number(18, 2),
    tenant_id varchar(16777216),
    is_deleted boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
