{% from 'macros/zoho_crm.j2' import create_zoho_crm_merge_task -%}

{{ create_zoho_crm_merge_task(
        zoho_crm_schema,
        load_zoho_crm_schema,
        "deals",
        [
        ('id', "var:Id::number"),
        ('owner', "var:Owner::number"),
        ('amount', "var:Amount::number"),
        ('deal_name', "var:Deal_Name::varchar"),
        ('closing_date', "var:Closing_Date::date"),
        ('account_name', "var:Account_Name::number"),
        ('stage', "var:Stage::varchar"),
        ('type', "var:Type::varchar"),
        ('probability', "var:Probability::number"),
        ('expected_revenue', "var:Expected_Revenue::number"),
        ('next_step', "var:Next_Step::varchar"),
        ('lead_source', "var:Lead_Source::varchar"),
        ('campaign_source', "var:Campaign_Source::varchar"),
        ('contact_name', "var:Contact_Name::number"),
        ('created_by', "var:Created_By::number"),
        ('modified_by', "var:Modified_By::number"),
        ('created_time', "var:Created_Time::timestamp_tz(9)"),
        ('modified_time', "var:Modified_Time::timestamp_tz(9)"),
        ('last_activity_time', "var:Last_Activity_Time::timestamp_tz(9)"),
        ('lead_conversion_time', "var:Lead_Conversion_Time::number"),
        ('sales_cycle_duration', "var:Sales_Cycle_Duration::number"),
        ('overall_sales_duration', "var:Overall_Sales_Duration::number"),
        ('description', "var:Description::varchar"),
        ('user_modified_time', "var:User_Modified_Time::timestamp_tz(9)"),
        ('system_related_activity_time', "var:System_Related_Activity_Time::timestamp_tz(9)"),
        ('user_related_activity_time', "var:User_Related_Activity_Time::timestamp_tz(9)"),
        ('system_modified_time', "var:System_Modified_Time::timestamp_tz(9)"),
        ('pipeline', "var:Pipeline::varchar"),
        ('forecast_category', "var:Forecast_Category__s::varchar"),
        ('reason_for_loss', "var:Reason_For_Loss__s::varchar"),
        ('route_profile', "var:Route_Profile::varchar"),
        ('live_loading_info', "var:Live_Loading_Info::varchar"),
        ('pod_requirement', "var:POD_Requirement::varchar"),
        ('product_description', "var:Product_Description::varchar"),
        ('driver_load_unload_required', "var:Driver_load_unload_required::varchar"),
        ('operational_days', "var:Operational_Days::varchar"),
        ('load_build', "var:Load_Build::varchar"),
        ('planning_lead_time_minimum', "var:Planning_Lead_Time_minimum::varchar"),
        ('prefered_rating_mechanism', "var:Prefered_Rating_Mechanism::varchar"),
        ('standards_deviations', "var:Standards_Deviations::varchar"),
        ('vehicle_type', "var:Vehicle_Type::varchar"),
        ('expected_margin', "var:Expected_Margin::float"),
        ('haulier_procurement_plan', "var:Haulier_Procurement_Plan::varchar"),
        ('vehicle_additionals', "var:Vehicle_Additionals::varchar"),
        ('annual_loads', "var:Annual_Loads::number"),
        ('annual_gp', "var:Annual_GP::float"),
        ('site_management_phone', "var:Site_Management_Phone::varchar"),
        ('collection_delivery_windows', "var:Collection_Delivery_Windows::varchar"),
        ('escalation_phone', "var:Escalation_Phone::varchar"),
        ('additional_charges', "var:Additional_Charges::varchar"),
        ('escalation_email', "var:Escalation_Email::varchar"),
        ('upload_method', "var:Upload_Method::varchar"),
        ('volume_profile', "var:Volume_Profile::varchar"),
        ('daily_operations_email_1', "var:Daily_Operations_Email_1::varchar"),
        ('key_locations', "var:Key_Locations::varchar"),
        ('additional_notes', "var:Additional_Notes::varchar"),
        ('commercial_folder', "var:Commercial_Folder::varchar"),
        ('daily_operations_email_2', "var:Daily_Operations_Email_2::varchar"),
        ('customer_insights', "var:Customer_Insights::varchar"),
        ('daily_operations_phone', "var:Daily_Operations_Phone_1::varchar"),
        ('site_management_email', "var:Site_Management_Email::varchar"),
        ('pricing_file', "var:Pricing_File::varchar"),
        ('daily_operations_phone_2', "var:Daily_Operations_Phone_2::varchar"),
        ('go_live_year', "var:Go_Live_Year::number"),
        ('in_year_gp', "var:In_Year_GP::float"),
        ('in_year_revenue', "var:In_Year_Revenue::float"),
        ('dsc_bd_owner', "var:DSC_BD_Owner::varchar"),
        ('dsc_solutions_design_owner', "var:DSC_Solutions_Design_Owner::varchar"),
        ('funnel', "var:Funnel::varchar"),
        ('opportunity_type', "var:Opportunity_Type::varchar"),
        ('opportunity_lead', "var:Opportunity_Lead::varchar"),
        ('commercials', "var:Commercials::varchar"),
        ('goods_profile', "var:Goods_Profile::varchar"),
        ('contractuals', "var:Contractuals::varchar"),
        ('operational_process', "var:Operational_Process::varchar"),
        ('region_geography', "var:Region_Geography::varchar"),
        ('vehicle_profile', "var:Vehicle_Profile::varchar"),
        ('all_detail', "var:All_Detail_fields_complete::boolean"),
        ('haulier_solution_confirmed', "var:Haulier_Solution_Confirmed::boolean"),
        ('contract_overview_shared', "var:Contract_Overview_Shared::boolean"),
        ('hauliers_prepped', "var:Hauliers_Prepped::boolean"),
        ('project_created', "var:Project_Created::boolean"),
        ('user_training', "var:User_Training_completed::boolean"),
        ('finance_team_informed', "var:Finance_Team_Informed::boolean"),
        ('mock_shift_completed', "var:Mock_Shift_Completed::boolean"),
        ('ops_team_briefed', "var:Ops_Team_Briefed::boolean"),
        ('account_owner', "var:Account_Owner::varchar"),
        ('product_owner', "var:Product_Owner_if_req::varchar"),
        ('authority_persue', "var:Authority_to_Persue::boolean"),
        ('golden_transaction_booked', "var:Golden_Transaction_Booked::boolean"),
        ('project_id', "var:Project_ID::varchar"),
        ('in_year_loads', "var:In_Year_Loads::float"),
        ('latest_update', "var:Latest_Update::varchar"),
        ('year_5_weighting', "var:Year_5_Weighting::float"),
        ('year_1_weighting', "var:Year_1_Weighting::float"),
        ('year_2_weighting', "var:Year_2_Weighting::float"),
        ('year_3_weighting', "var:Year_3_Weighting::float"),
        ('year_4_weighting', "var:Year_4_Weighting::float"),
        ('year_1_gp', "var:Year_1_GP::float"),
        ('agp_per_year', "var:AGP_per_year::float"),
        ('year_2_gp', "var:Year_2_GP::float"),
        ('year_3_gp', "var:Year_3_GP::float"),
        ('year_4_gp', "var:Year_4_GP::float"),
        ('year_5_gp', "var:Year_5_GP::float"),
        ('payment_terms', "var:Payment_Terms::varchar"),
        ('exclusivity', "var:Exclusivity::varchar"),
        ('gain_share_mechanism', "var:Gain_Share_Mechanism::varchar"),
        ('commercial_terms_commentary', "var:Commercial_Terms_Commentary::varchar"),
        ('insurance_terms', "var:Insurance_Terms::varchar"),
        ('kpis', "var:KPIs::varchar"),
        ('total_gp', "var:Total_GP::float"),
        ('contract_length_1_years', "var:Contract_Length_1_years::float"),
        ('d_b_business_risk', "var:D_B_Business_Risk::varchar"),
        ('monthly_gp', "var:Monthly_GP::float"),
        ('bca_completed_if_req', "var:BCA_Completed_if_req::boolean"),
        ('avg_revenue_per_shipment', "var:Avg_Revenue_per_Shipment::float"),
        ('formula_field_1', "var:Formula_Field_1::float"),
        ('total_loads', "var:Total_Loads::float"),
        ('avg_gp_month', "var:Avg_GP_month::float"),
        ('avg_loads_p_month', "var:Avg_loads_p_month::float"),
        ('avg_rev_p_month', "var:Avg_Rev_p_month::float"),
        ('avg_loads_month', "var:Avg_Loads_month::float"),
        ('next_year_gp_applicable_to_sale', "var:Next_Year_GP_Applicable_to_sale::float"),
        ('short_term_exlcude_next_year_applicable', "var:Short_Term_exlcude_next_year_applicable::boolean"),
        ('rates_uploaded_to_cms', "var:Rates_Uploaded_to_CMS::boolean"),
        ('cross_border_eu', "var:Cross_Border_EU::boolean"),
        ('dsc_salesforce_id', "var:DSC_Salesforce_iD::varchar"),
        ('applicable_to_growth', "var:Applicable_to_Growth::boolean"),
        ('dhl_external', "var:DHL_External::varchar"),
        ('reason_for_loss_detail', "var:Reason_for_Loss_detail::varchar"),
        ('date_of_loss', "var:Date_Of_Loss::date"),
        ],
        ('id', "var:Id::number")
    )
}}
