{% from 'macros/shared_v1.j2' import create_scd2_table_and_stream -%}

{% call create_scd2_table_and_stream(
    zoho_crm_schema,
    load_zoho_crm_schema,
    "deals",
    "zoho_crm_stage",
    "deals"
  ) -%}
    id number,
    owner number,
    amount number,
    deal_name varchar,
    closing_date date,
    account_name number,
    stage varchar,
    type varchar,
    probability number,
    expected_revenue number,
    next_step varchar,
    lead_source varchar,
    campaign_source varchar,
    contact_name number,
    created_by number,
    modified_by number,
    created_time timestamp_tz(9),
    modified_time timestamp_tz(9),
    currency varchar,
    exchange_rate float,
    last_activity_time timestamp_tz(9),
    lead_conversion_time number,
    sales_cycle_duration number,
    overall_sales_duration number,
    description varchar,
    layout number,
    score number,
    positive_score number,
    negative_score number,
    positive_touch_point_score number,
    touch_point_score number,
    negative_touch_point_score number,
    tag varchar,
    record_image varchar,
    last_action varchar,
    last_sent_time timestamp_tz(9),
    last_action_time timestamp_tz(9),
    user_modified_time timestamp_tz(9),
    system_related_activity_time timestamp_tz(9),
    user_related_activity_time timestamp_tz(9),
    system_modified_time timestamp_tz(9),
    pipeline varchar,
    forecast_category varchar,
    territory varchar,
    change_log_time timestamp_tz(9),
    locked boolean,
    reason_for_loss varchar,
    route_profile varchar,
    live_loading_info varchar,
    pod_requirement varchar,
    product_description varchar,
    driver_load_unload_required varchar,
    operational_days varchar,
    load_build varchar,
    planning_lead_time_minimum varchar,
    prefered_rating_mechanism varchar,
    standards_deviations varchar,
    vehicle_type varchar,
    expected_margin float,
    haulier_procurement_plan varchar,
    vehicle_additionals varchar,
    annual_loads number,
    annual_gp float,
    site_management_phone varchar,
    collection_delivery_windows varchar,
    escalation_phone varchar,
    additional_charges varchar,
    escalation_email varchar,
    upload_method varchar,
    volume_profile varchar,
    daily_operations_email_1 varchar,
    key_locations varchar,
    additional_notes varchar,
    commercial_folder varchar,
    daily_operations_email_2 varchar,
    customer_insights varchar,
    daily_operations_phone varchar,
    site_management_email varchar,
    pricing_file varchar,
    daily_operations_phone_2 varchar,
    go_live_year number,
    in_year_gp float,
    in_year_revenue float,
    dsc_bd_owner varchar,
    dsc_solutions_design_owner varchar,
    funnel varchar,
    opportunity_type varchar,
    opportunity_lead varchar,
    commercials varchar,
    goods_profile varchar,
    contractuals varchar,
    operational_process varchar,
    region_geography varchar,
    vehicle_profile varchar,
    all_detail boolean,
    haulier_solution_confirmed boolean,
    contract_overview_shared boolean,
    hauliers_prepped boolean,
    project_created boolean,
    user_training boolean,
    finance_team_informed boolean,
    mock_shift_completed boolean,
    ops_team_briefed boolean,
    account_owner varchar,
    product_owner varchar,
    authority_persue boolean,
    golden_transaction_booked boolean,
    project_id varchar,
    in_year_loads float,
    latest_update varchar,
    year_5_weighting float,
    year_1_weighting float,
    year_2_weighting float,
    year_3_weighting float,
    year_4_weighting float,
    year_1_gp float,
    agp_per_year float,
    year_2_gp float,
    year_3_gp float,
    year_4_gp float,
    year_5_gp float,
    payment_terms varchar,
    exclusivity varchar,
    gain_share_mechanism varchar,
    commercial_terms_commentary varchar,
    insurance_terms varchar,
    kpis varchar,
    total_gp float,
    contract_length_1_years float,
    d_b_business_risk varchar,
    monthly_gp float,
    bca_completed_if_req boolean,
    avg_revenue_per_shipment float,
    formula_field_1 float,
    total_loads float,
    avg_gp_month float,
    avg_loads_p_month float,
    avg_rev_p_month float,
    avg_loads_month float,
    next_year_gp_applicable_to_sale float,
    short_term_exlcude_next_year_applicable boolean,
    rates_uploaded_to_cms boolean,
    cross_border_eu boolean,
    dsc_salesforce_id varchar,
    applicable_to_growth boolean,
    dhl_external varchar,
    reason_for_loss_detail varchar,
    date_of_loss date
{%- endcall %}
