{% from 'macros/cfx.j2' import create_cfx_merge_task -%}

{{ create_cfx_merge_task(
        cfx_schema,
        load_cfx_schema,
        "dg_shipment_cost",
        [
        ('shipment_cost_seqno', "nullif(var:SHIPMENT_COST_SEQNO::varchar, '')::number(38,0)"),
        ('shipment_gid', "var:SHIPMENT_GID::varchar"),
        ('cost_type', "var:COST_TYPE::varchar"),
        ('cost', "nullif(var:COST::varchar, '')::number(38,6)"),
        ('cost_gid', "var:COST_GID::varchar"),
        ('cost_base', "nullif(var:COST_BASE::varchar, '')::number(38,6)"),
        ('accessorial_code_gid', "var:ACCESSORIAL_CODE_GID::varchar"),
        ('accessorial_cost_gid', "var:ACCESSORIAL_COST_GID::varchar"),
        ('billable_indicator_gid', "var:BILLABLE_INDICATOR_GID::varchar"),
        ('rate_geo_cost_group_gid', "var:RATE_GEO_COST_GROUP_GID::varchar"),
        ('rate_geo_cost_seq', "nullif(var:RATE_GEO_COST_SEQ::varchar, '')::number(38,0)"),
        ('special_service_gid', "var:SPECIAL_SERVICE_GID::varchar"),
        ('is_cost_fixed', "nullif(var:IS_COST_FIXED::varchar, '')::boolean"),
        ('process_as_flow_thru', "var:PROCESS_AS_FLOW_THRU::varchar"),
        ('adjustment_reason_gid', "var:ADJUSTMENT_REASON_GID::varchar"),
        ('general_ledger_gid', "var:GENERAL_LEDGER_GID::varchar"),
        ('payment_method_code_gid', "var:PAYMENT_METHOD_CODE_GID::varchar"),
        ('exchange_rate_date', "nullif(var:EXCHANGE_RATE_DATE::varchar, '')::timestamp_tz(9)"),
        ('exchange_rate_gid', "var:EXCHANGE_RATE_GID::varchar"),
        ('cost_fn', "nullif(var:COST_FN::varchar, '')::number(38,6)"),
        ('cost_fn_currency_gid', "var:COST_FN_CURRENCY_GID::varchar"),
        ('s_ship_unit_gid', "var:S_SHIP_UNIT_GID::varchar"),
        ('s_ship_unit_line_no', "nullif(var:S_SHIP_UNIT_LINE_NO::varchar, '')::number(38,0)"),
        ('is_weighted', "nullif(var:IS_WEIGHTED::varchar, '')::boolean"),
        ('cost_category_gid', "var:COST_CATEGORY_GID::varchar"),
        ('tracking_number', "nullif(var:TRACKING_NUMBER::varchar, '')::number(38,0)"),
        ('domain_name', "var:DOMAIN_NAME::varchar"),
        ('insert_user', "var:INSERT_USER::varchar"),
        ('insert_date', "nullif(var:INSERT_DATE::varchar, '')::timestamp_tz(9)"),
        ('update_user', "var:UPDATE_USER::varchar"),
        ('update_date', "coalesce(nullif(var:UPDATE_DATE::varchar, ''), nullif(var:INSERT_DATE::varchar, ''))::timestamp_tz(9)"),
        ],
        ('shipment_cost_seqno', "nullif(var:SHIPMENT_COST_SEQNO::varchar, '')::number(38,0)")
    )
}}
