{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "purchase_orders",
        [
        ('id', "var:Id::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('po_number', "var:PONumber::varchar"),
        ('carrier_display_id', "var:CarrierDisplayID::varchar"),
        ('shipment_id', "var:ShipmentId::varchar"),
        ('document_type', "var:DocumentType::varchar"),
        ('status', "var:Status::varchar"),
        ('po_date', convert_to_mastercountry_tz("var:PODate")),
        ('po_processed_date', convert_to_mastercountry_tz("var:POProcessedDate")),
        ('sent_date', convert_to_mastercountry_tz("var:SentDate")),
        ('is_sent', "var:IsSent::boolean"),
        ('do_received_date', convert_to_mastercountry_tz("var:DOReceivedDate")),
        ('is_do_received', "var:IsDOReceived::boolean"),
        ('payment_term', "var:PaymentTerm::number(38,0)"),
        ('due_date', convert_to_mastercountry_tz("var:DueDate")),
        ('document_company_name', "var:DocumentCompanyName::varchar"),
        ('document_address', "var:DocumentAddress::varchar"),
        ('document_tax_number', "var:DocumentTaxNumber::varchar"),
        ('bill_to_company', "var:BillToCompany::varchar"),
        ('bill_to_street_address', "var:BillToStreetAddress::varchar"),
        ('bill_to_city_district_2', "var:BillToCityDistrict2::varchar"),
        ('bill_to_city_district_1', "var:BillToCityDistrict1::varchar"),
        ('bill_to_postal_code', "var:BillToPostalCode::varchar"),
        ('bill_to_state_province', "var:BillToStateProvince::varchar"),
        ('bill_to_country', "var:BillToCountry::varchar"),
        ('bill_to_email', "var:BillToEmail::varchar"),
        ('bill_to_phone_number', "var:BillToPhoneNumber::varchar"),
        ('additional_comments', "var:AdditionalComments::varchar"),
        ('document_contact_info', "var:DocumentContactInfo::varchar"),
        ('document_header_logo', "var:DocumentHeaderLogo::varchar"),
        ('document_header_text', "var:DocumentHeaderText::varchar"),
        ('document_template', "var:DocumentTemplate::varchar"),
        ('document_pdf', "var:DocumentPDF::varchar"),
        ('document_subtotal_amt', "var:DocumentSubTotalAmt::number(18,2)"),
        ('document_total_tax_amt', "var:DocumentTotalTaxAmt::number(18,2)"),
        ('document_total_amt', "var:DocumentTotalAmt::number(18,2)"),
        ('paid_amt', "var:PaidAmt::number(18,2)"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_locale', "var:CurrencyLocale::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('carrier_company_name', "var:CarrierCompanyName::varchar"),
        ('etag', "var:ETag::varchar"),
        ('bill_to_reg_no', "var:BillToRegNo::varchar"),
        ('document_contact_phone', "var:DocumentContactPhone::varchar"),
        ('document_company_reg_no', "var:DocumentCompanyRegNo::varchar"),
        ('document_tax_name', "var:DocumentTaxName::varchar"),
        ('document_tax_rate', "var:DocumentTaxRate::number(18,2)"),
        ('document_tax_setting', "var:DocumentTaxSetting::boolean"),
        ('last_payment_paid_id', "var:LastPaymentPaidId::varchar"),
        ('bol_number', "var:BOLNumber::varchar"),
        ('booking_display_id', "var:BookingDisplayId::varchar"),
        ('regime_tax_display_name', "var:RegimeTaxDisplayName::varchar"),
        ('regime_tax_enable', "var:RegimeTaxEnable::boolean"),
        ('regime_tax_rate', "var:RegimeTaxRate::number(18,2)"),
        ('retention_tax_display_name', "var:RetentionTaxDisplayName::varchar"),
        ('retention_tax_enable', "var:RetentionTaxEnable::boolean"),
        ('retention_tax_rate', "var:RetentionTaxRate::number(18,2)"),
        ('vat_discount_tax_enabled', "var:VatDiscountTaxEnabled::boolean"),
        ('vat_discount_tax_rate', "var:VatDiscountTaxRate::number(18,2)"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
