{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "transport_loads",
        [
        ('id', "var:Id::varchar"),
        ('transport_order_id', "var:TransportOrderId::varchar"),
        ('transport_route_id', "var:TransportRouteId::varchar"),
        ('pickup_location_id', "var:PickupLocationId::varchar"),
        ('delivery_location_id', "var:DeliveryLocationId::varchar"),
        ('handling_unit', "var:HandlingUnit::varchar"),
        ('unit_quantity', "var:UnitQuantity::number(38,0)"),
        ('unit_length', "var:UnitLength::number(18,2)"),
        ('unit_width', "var:UnitWidth::number(18,2)"),
        ('unit_height', "var:UnitHeight::number(18,2)"),
        ('unit_volume', "var:UnitVolume::number(18,6)"),
        ('unit_weight', "var:UnitWeight::number(18,2)"),
        ('is_stackable', "var:IsStackable::boolean"),
        ('is_hazardous', "var:IsHazardous::boolean"),
        ('pickup_quantity', "var:PickupQuantity::number(38,0)"),
        ('delivery_quantity', "var:DeliveryQuantity::number(38,0)"),
        ('status', "var:Status::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('from_temperature', "var:FromTemperature::number(18,2)"),
        ('hazardous_classification_ids', "var:HazardousClassificationIds::varchar"),
        ('is_temperature_control', "var:IsTemperatureControl::boolean"),
        ('temperature_type', "var:TemperatureType::varchar"),
        ('to_temperature', "var:ToTemperature::number(18,2)"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
