{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "transport_locations_ext",
    "cms_stage",
    "TransportLocationsExt"
  ) -%}
    id varchar(16777216),
    transport_location_id varchar(16777216),
    pta_earliest timestamp_tz(9),
    pta_latest timestamp_tz(9),
    pta_updated_at timestamp_tz(9),
    pta_updated_by varchar(16777216),
    pta_updated_by_name varchar(16777216),
    eta timestamp_tz(9),
    eta_updated_at timestamp_tz(9),
    eta_updated_by varchar(16777216),
    eta_updated_by_name varchar(16777216),
    is_deleted boolean,
    eta_latest timestamp_tz(9),
    gps_last_received timestamp_tz(9),
    ots_computed_at timestamp_tz(9),
    on_time_eta timestamp_tz(9),
    on_time_status varchar(16777216),
    arrived_latitude number(18, 6),
    arrived_longitude number(18, 6),
    arrived_zone varchar(16777216),
    completed_latitude number(18, 6),
    completed_longitude number(18, 6),
    completed_zone varchar(16777216),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
