{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "shipper_credit_term_settings",
        [
        ('id', "var:Id::varchar"),
        ('is_centralised', "var:IsCentralised::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ],
        ('id', "var:Id::varchar")
    )
}}
