{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "job_file_remarks",
    "cms_stage",
    "JobFileRemarks"
  ) -%}
    id varchar(16777216),
    job_file_id varchar(16777216),
    user_id varchar(16777216),
    remarks_by varchar(16777216),
    is_deleted boolean,
    remarks varchar(16777216),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
