{% from 'macros/finance.j2' import create_finance_merge_task -%}

{{ create_finance_merge_task(
        finance_schema,
        load_finance_schema,
        "budget_template",
        [
        ('customer', "Customer::varchar"),
        ('year', "Year::number(38, 0)"),
        ('period', "Period::varchar"),
        ('yearmonth', "YearMonth::varchar"),
        ('loads', "Loads::number(38, 0)"),
        ('gp', "GP::number(38, 2)"),
        ('avgprofitperload', "AvgProfitPerLoad::number(38, 2)"),
        ('revenue', "Revenue::number(38, 2)"),
        ('avgrevperload', "AvgRevPerLoad::number(38, 0)"),
        ]
    )
}}
