{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "master_countries",
    "cms_stage",
    "MasterCountries"
  ) -%}
    master_country_id varchar(16777216),
    country_name varchar(16777216),
    country_code varchar(16777216),
    country_flag varchar(16777216),
    currency_code varchar(16777216),
    currency_locale varchar(16777216),
    date_format varchar(16777216),
    time_format varchar(16777216),
    time_zone varchar(16777216),
    state_province_mapping varchar(16777216),
    city_district_mapping varchar(16777216),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    is_deleted boolean,
    is_active boolean,
    datetime_locale varchar(16777216),
    distance_measurement varchar(16777216),
    signup_url varchar(16777216),
    country_time_zone varchar(16777216),
    is_display_address_visible boolean,
    country_mapping varchar(16777216),
    postal_code_mapping varchar(16777216),
    gstin boolean,
    shipper_report_access boolean,
    has_crossing boolean,
    carrier_container_haulage_transport_access boolean,
    carrier_normal_transport_access boolean,
    carrier_traction_transport_access boolean,
    is_epod_generation_enabled boolean,
    max_truck_speed number(18,2)
{%- endcall %}
