{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "haulage_orders",
        [
        ('id', "var:Id::varchar"),
        ('booking_display_id', "var:BookingDisplayId::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_name', "var:ShipperName::varchar"),
        ('shipper_company_id', "var:ShipperCompanyId::varchar"),
        ('shipper_company_name', "var:ShipperCompanyName::varchar"),
        ('shipper_project_id', "var:ShipperProjectId::varchar"),
        ('shipper_project_name', "var:ShipperProjectName::varchar"),
        ('shipper_user_display_id', "var:ShipperUserDisplayId::varchar"),
        ('booked_by_first_name', "var:BookedByFirstName::varchar"),
        ('booked_by_last_name', "var:BookedByLastName::varchar"),
        ('submitted_at', convert_to_mastercountry_tz("var:SubmittedAt")),
        ('haulage_type', "var:HaulageType::varchar"),
        ('customer_ref', "var:CustomerRef::varchar"),
        ('bol_number', "var:BOLNumber::varchar"),
        ('consignment_note_no', "var:ConsignmentNoteNo::varchar"),
        ('vessel_name', "var:VesselName::varchar"),
        ('vessel_eta', convert_to_mastercountry_tz("var:VesselEta")),
        ('vessel_etd', convert_to_mastercountry_tz("var:VesselEtd")),
        ('forwarding_agent', "var:ForwardingAgent::varchar"),
        ('shipping_agent', "var:ShippingAgent::varchar"),
        ('container_operator', "var:ContainerOperator::varchar"),
        ('consignee_company_name', "var:ConsigneeCompanyName::varchar"),
        ('consignee_address', "var:ConsigneeAddress::varchar"),
        ('consignee_contact_number', "var:ConsigneeContactNumber::varchar"),
        ('consignee_email', "var:ConsigneeEmail::varchar"),
        ('consignee_tax_id', "var:ConsigneeTaxId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
