{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "cms_currency_settings",
        [
        ('id', "var:Id::varchar"),
        ('is_default', "var:IsDefault::boolean"),
        ('is_checked', "var:IsChecked::boolean"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('tenant_id', "var:TenantId::varchar"),
        ('global_currency_settings_id', "var:GlobalCurrencySettingsId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
