{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "cms_currency_settings",
    "cms_stage",
    "CMSCurrencySettings"
  ) -%}
    id varchar,
    is_default boolean,
    is_checked boolean,
    is_deleted boolean,
    updated_by varchar,
    updated_at timestamp_tz(9),
    created_by varchar,
    created_at timestamp_tz(9),
    tenant_country_id varchar,
    tenant_id varchar,
    global_currency_settings_id varchar,
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
