{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "invoices",
        [
        ('id', "var:Id::varchar"),
        ('shipper_id', "var:ShipperId::varchar"),
        ('shipper_company_id', "var:ShipperCompanyId::varchar"),
        ('document_number', "var:DocumentNumber::varchar"),
        ('shipper_display_id', "var:ShipperDisplayId::varchar"),
        ('shipment_id', "var:ShipmentId::varchar"),
        ('project_id', "var:ProjectId::varchar"),
        ('project_name', "var:ProjectName::varchar"),
        ('document_type', "var:DocumentType::varchar"),
        ('status', "var:Status::varchar"),
        ('document_date', convert_to_mastercountry_tz("var:DocumentDate")),
        ('sent_date', convert_to_mastercountry_tz("var:SentDate")),
        ('is_sent', "var:IsSent::boolean"),
        ('do_received_date', convert_to_mastercountry_tz("var:DOReceivedDate")),
        ('is_do_received', "var:IsDOReceived::boolean"),
        ('credit_term', "var:CreditTerm::number(38,0)"),
        ('due_date', convert_to_mastercountry_tz("var:DueDate")),
        ('document_company_name', "var:DocumentCompanyName::varchar"),
        ('document_address', "var:DocumentAddress::varchar"),
        ('document_tax_number', "var:DocumentTaxNumber::varchar"),
        ('bill_to_company', "var:BillToCompany::varchar"),
        ('bill_to_street_address', "var:BillToStreetAddress::varchar"),
        ('bill_to_city_district_2', "var:BillToCityDistrict2::varchar"),
        ('bill_to_city_district_1', "var:BillToCityDistrict1::varchar"),
        ('bill_to_postal_code', "var:BillToPostalCode::varchar"),
        ('bill_to_state_province', "var:BillToStateProvince::varchar"),
        ('bill_to_country', "var:BillToCountry::varchar"),
        ('bill_to_attention', "var:BillToAttention::varchar"),
        ('bill_to_email', "var:BillToEmail::varchar"),
        ('bill_to_phone_number', "var:BillToPhoneNumber::varchar"),
        ('additional_comments', "var:AdditionalComments::varchar"),
        ('payment_bank_name', "var:PaymentBankName::varchar"),
        ('payment_beneficiary', "var:PaymentBeneficiary::varchar"),
        ('payment_account_number', "var:PaymentAccountNumber::varchar"),
        ('payment_swift_code', "var:PaymentSwiftCode::varchar"),
        ('document_contact_info', "var:DocumentContactInfo::varchar"),
        ('document_header_logo', "var:DocumentHeaderLogo::varchar"),
        ('document_header_text', "var:DocumentHeaderText::varchar"),
        ('document_template', "var:DocumentTemplate::varchar"),
        ('document_pdf', "var:DocumentPDF::varchar"),
        ('document_subtotal_amt', "var:DocumentSubTotalAmt::number(18,2)"),
        ('document_total_tax_amt', "var:DocumentTotalTaxAmt::number(18,2)"),
        ('document_total_amt', "var:DocumentTotalAmt::number(18,2)"),
        ('received_amt', "var:ReceivedAmt::number(18,2)"),
        ('currency_locale', "var:CurrencyLocale::varchar"),
        ('is_dispute', "var:IsDispute::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('shipper_company_name', "var:ShipperCompanyName::varchar"),
        ('bill_to_reg_no', "var:BillToRegNo::varchar"),
        ('etag', "var:ETag::varchar"),
        ('document_contact_phone', "var:DocumentContactPhone::varchar"),
        ('document_company_reg_no', "var:DocumentCompanyRegNo::varchar"),
        ('document_footer_logo', "var:DocumentFooterLogo::varchar"),
        ('document_header_number', "var:DocumentHeaderNumber::varchar"),
        ('document_total_ewt_amt', "var:DocumentTotalEWTAmt::number(18,2)"),
        ('cgst', "var:CGST::number(18,2)"),
        ('cgst_amt', "var:CGSTAmt::number(18,2)"),
        ('gstin_number', "var:GSTINNumber::varchar"),
        ('gstin_setting_id', "var:GSTINSettingId::varchar"),
        ('igst', "var:IGST::number(18,2)"),
        ('igst_amt', "var:IGSTAmt::number(18,2)"),
        ('irn_number', "var:IRNNumber::varchar"),
        ('is_gstin', "var:IsGSTIN::boolean"),
        ('is_rcm', "var:IsRCM::boolean"),
        ('rcm_note', "var:RCMNote::varchar"),
        ('sgst', "var:SGST::number(18,2)"),
        ('sgst_amt', "var:SGSTAmt::number(18,2)"),
        ('invoice_type', "var:InvoiceType::number(38,0)"),
        ('tax_type', "var:TaxType::number(38,0)"),
        ('payment_advise_email', "var:PaymentAdviseEmail::varchar"),
        ('bol_number', "var:BOLNumber::varchar"),
        ('booking_display_id', "var:BookingDisplayId::varchar"),
        ('is_multi_project', "var:IsMultiProject::boolean"),
        ('ack_date', convert_to_mastercountry_tz("var:AckDate")),
        ('ack_no', "var:AckNo::varchar"),
        ('document_postal_code', "var:DocumentPostalCode::varchar"),
        ('gstin_company_hsn_code', "var:GSTINCompanyHSNCode::varchar"),
        ('irn_qr', "var:IRNQR::varchar"),
        ('is_e_invoice', "var:IsEInvoice::boolean"),
        ('linked_invoice_date', convert_to_mastercountry_tz("var:LinkedInvoiceDate")),
        ('linked_invoice_number', "var:LinkedInvoiceNumber::varchar"),
        ('schema_version', "var:SchemaVersion::varchar"),
        ('shipper_category', "var:ShipperCategory::varchar"),
        ('shipper_transaction_category', "var:ShipperTransactionCategory::varchar"),
        ('tax_schema', "var:TaxSchema::varchar"),
        ('irn_status', "var:IRNStatus::varchar"),
        ('irn_status_message', "var:IRNStatusMessage::varchar"),
        ('cancel_date', convert_to_mastercountry_tz("var:CancelDate")),
        ('credit_limit', "var:CreditLimit::number(18,2)"),
        ('tradeshift_invoice_id', "var:TradeshiftInvoiceId::varchar"),
        ('invoice_creation_type', "var:InvoiceCreationType::varchar"),
        ('po_number', "var:PONumber::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ('currency_code', "var:CurrencyCode::varchar"),
        ('currency_code_id', "var:CurrencyCodeId::varchar"),
        ('shipper_credit_term_id', "var:ShipperCreditTermId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
