{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "carrier_accepted_offers",
        [
        ('id', "var:Id::varchar"),
        ('carrier_id', "var:CarrierId::varchar"),
        ('offer_id', "var:OfferId::varchar"),
        ('dispatcher_id', "var:DispatcherId::varchar"),
        ('accepted_date', convert_to_mastercountry_tz("var:AcceptedDate")),
        ('driver_id', "var:DriverId::varchar"),
        ('truck_id', "var:TruckId::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
