{% from 'macros/cms.j2' import create_cms_merge_task, convert_to_mastercountry_tz -%}

{{ create_cms_merge_task(
        cms_schema,
        load_cms_schema,
        "fuel_rate_setting",
        [
        ('id', "var:Id::varchar"),
        ('fuel_type', "var:FuelType::varchar"),
        ('fuel_value', "var:FuelValue::number(18,2)"),
        ('valid_from', convert_to_mastercountry_tz("var:ValidFrom")),
        ('valid_to', convert_to_mastercountry_tz("var:ValidTo")),
        ('updated_by_name', "var:UpdatedByName::varchar"),
        ('is_deleted', "var:IsDeleted::boolean"),
        ('tenant_id', "var:TenantId::varchar"),
        ('updated_by', "var:UpdatedBy::varchar"),
        ('updated_at', convert_to_mastercountry_tz("var:UpdatedAt")),
        ('created_by', "var:CreatedBy::varchar"),
        ('created_at', convert_to_mastercountry_tz("var:CreatedAt")),
        ('tenant_country_id', "var:TenantCountryId::varchar"),
        ],
        ('id', "var:Id::varchar")
    )
}}
