{% from 'macros/shared_v1.j2' import create_table_and_stream -%}

{% call create_table_and_stream(
    cms_schema,
    load_cms_schema,
    "haulage_containers",
    "cms_stage",
    "HaulageContainers"
  ) -%}
    id varchar(16777216),
    haulage_order_id varchar(16777216),
    container_size_id varchar(16777216),
    container_size_name varchar(16777216),
    container_type_id varchar(16777216),
    container_type_name varchar(16777216),
    container_short_code varchar(16777216),
    trip_type varchar(16777216),
    container_number varchar(16777216),
    seal_no varchar(16777216),
    container_handling_instructions varchar(16777216),
    delivery_instructions varchar(16777216),
    gross_weight_per_container_kg varchar(16777216),
    remarks varchar(16777216),
    is_planned_container_cutoff boolean,
    is_container_cutoff boolean,
    tenant_id varchar(16777216),
    is_deleted boolean,
    updated_by varchar(16777216),
    updated_at timestamp_tz(9),
    created_by varchar(16777216),
    created_at timestamp_tz(9),
    tenant_country_id varchar(16777216),
    master_countries_country_time_zone varchar(16777216)
{%- endcall %}
